div
	h4.hand.arrow01
		span Benefity
div.benefits-small
	a(title="Čím více sáčků si koupíte, tím <strong>nižší cenu za jeden sáček</strong> získáte" data-html="true").benefits-small__card
		.benefits-small__icon
			i.icon-piggy
		.benefits-small__title 
			.hidden-xs Množstevní 
			| slevy
	a(title="Zajistíme sáčky pro <strong>jakýkoliv model vysavače</strong>" data-html="true").benefits-small__card
		.benefits-small__icon
			i.icon-bags
		.benefits-small__title 
			.hidden-xs Největší 
			| výběr
	a(title="U vybraných balení <strong>doprava zdarma</strong>" data-html="true").benefits-small__card
		.benefits-small__icon
			i.icon-transport
		.benefits-small__title 
			.hidden-xs Doprava 
			| zdarma
	a(title="U vybraných balení <strong>sáčky do vysavače zdarma</strong>" data-html="true").benefits-small__card
		.benefits-small__icon
			i.icon-gift
		.benefits-small__title 
			| Dárek  
			.hidden-xs k nákupu
	a(title="Vaši objednávku umíme vyexpedovat <strong>do 24 hodin</strong>" data-html="true").benefits-small__card
		.benefits-small__icon
			i.icon-clock
		.benefits-small__title 
			.hidden-xs Expresní 
			| expedice
	a(title="<strong>100% záruka</strong> na vrácení zboží" data-html="true").benefits-small__card
		.benefits-small__icon
			i.icon-badge
		.benefits-small__title 
			.hidden-xs Nadstandardní 
			| garance
