.benefits-small.benefits-small--search
	a(title="Čím více sáčků si koupíte, tím <strong>nižší cenu za jeden sáček</strong> získáte" data-html="true").benefits-small__card
		.benefits-small__icon
			i.icon-piggy
		.benefits-small__title Množstevní slevy
	a(title="Zajistíme sáčky pro <strong>jakýkoliv model vysavače</strong>" data-html="true").benefits-small__card
		.benefits-small__icon
			i.icon-bags
		.benefits-small__title Největší výběr
	a(title="U vybraných balení <strong>doprava zdarma</strong>" data-html="true").benefits-small__card
		.benefits-small__icon
			i.icon-transport
		.benefits-small__title Doprava zdarma a&nbsp;expresní expedice
	a(title="U vybraných balení <strong>sáčky do vysavače zdarma</strong>" data-html="true").benefits-small__card
		.benefits-small__icon
			i.icon-gift
		.benefits-small__title Dárek k nákupu
	a(title="<strong>100% záruka</strong> na vrácení zboží" data-html="true").benefits-small__card
		.benefits-small__icon
			i.icon-badge
		.benefits-small__title Nadstandardní garance