.col-xs-4.col-sm-12.prices-before
	//- div Před slevou
	div Eredeti ár
	div
		//- strong 39,80 €
		strong 14 400,00 Ft
.col-xs-4.col-sm-12.prices-sale
	.badge-sale
		div
			strong.num 44%
		div
			| Árengedmnény
.col-xs-4.col-sm-12.prices-after
	//- div Po slevě
	div Árengedmény utáni ár
	div
		//- strong 22,99
		strong 8 600,00 Ft
