.col-xs-12.summary
	.row
		.col-xs-6.col-sm-12
			.item + 8 sáčků
				span 
					i.icon-check2
					| ZADARMO
		.col-xs-6.col-sm-12
			.item + 5 motorových filtrů
				span 
					i.icon-check2
					| ZADARMO
	.row
		.col-xs-12
			h4.hand.summary
				span Vaše 
					br
					|  objednávka
			.item.price cena za balení
				span 24,00 €
