.col-xs-4.col-md-12.prices-before
	div Před slevou
	div
		strong 39,80 €
.col-xs-4.col-md-12.prices-sale
	.badge-sale
		div
			strong.num 44%
		div
			| Árengedmnény
.col-xs-4.col-md-12.prices-after
	div Po slevě
	div
		strong 22,99
