.col-xs-12.col-sm-6.col-md-4
	.item
		img
		div
			h5 Vůně do vysavače - citrónová TEST
			p 
				span.info Balení obsahuje: 
				strong 5 vonných tyčinek
				br
				span.info Skladem: 
				strong Ano
				br
				span.info Cena: 
				strong 0.01 €
			a.btn.btn-primary.btn-sm(href="#") Vložit do košíku
