.col-xs-12.summary
	.row
		.col-xs-4.col-sm-12.sum-item.sum-bags
			.item + 8 sáčků
				span 
					i.icon-check2
					| ZDARMA
		.col-xs-4.col-sm-12.sum-item.sum-transport
			.item + doprava
				span 
					i.icon-check2
					| ZDARMA
		.col-xs-4.col-sm-12.sum-item.sum-filters
			.item + 5 mot. filtrů
				span 
					i.icon-check2
					| ZDARMA
	.row
		.col-xs-12
			h4.hand.summary
				span Vaše 
					br
					|  objednávka
			.item.price cena za balení
				span 24,00 €
