li
	a(href='#')
		strong serie Canto
		.item__info
			span SKLADEM
			| od 22,50 Kč/ks
li
	a(href='#')
		strong 100 CE Very very very very veeeeeery long and loooong name just for testing
		.item__info
			span SKLADEM
			| od 22,50 Kč/ks
li
	a(href='#')
		strong 100 CS
		.item__info
			span SKLADEM
			| od 22,50 Kč/ks
li
	a(href='#')
		strong serie Canto
		.item__info
			span SKLADEM
			| od 22,50 Kč/ks
li
	a(href='#')
		strong 100 DE
		.item__info
			span SKLADEM
			| od 22,50 Kč/ks
li
	a(href='#')
		strong serie Canto
		.item__info
			span SKLADEM
			| od 22,50 Kč/ks
li
	a(href='#')
		strong serie Canto
		.item__info
			span SKLADEM
			| od 22,50 Kč/ks
li
	a(href='#')
		strong 100 CE Very very very very veeeeeery long and loooong name just for testing
		.item__info
			span SKLADEM
			| od 22,50 Kč/ks
li
	a(href='#')
		strong 100 CS
		.item__info
			span SKLADEM
			| od 22,50 Kč/ks
li
	a(href='#')
		strong 100 CE Very very very very veeeeeery long and loooong name just for testing
		.item__info
			span SKLADEM
			| od 22,50 Kč/ks