li
	a(href='/electrolux/100-c')
		img(src="img/dummy-bag.jpg", alt="Model name")
		strong 100 C
		.item__info
			span SKLADEM
			| Expedujeme do 24h
li
	a(href='/electrolux/100-ce')
		img(src="img/dummy-bag.jpg", alt="Model name")
		strong 100 CE Very very very very veeeeeery long and loooong name just for testing
		.item__info
			span SKLADEM
			| Expedujeme do 24h
li
	a(href='/electrolux/100-cs')
		img(src="img/dummy-bag.jpg", alt="Model name")
		strong 100 CS
		.item__info
			span SKLADEM
			| Expedujeme do 24h
li
	a(href='/electrolux/100-d')
		img(src="img/dummy-bag.jpg", alt="Model name")
		strong 100 D
		.item__info
			span SKLADEM
			| Expedujeme do 24h
li
	a(href='/electrolux/100-de')
		img(src="img/dummy-bag.jpg", alt="Model name")
		strong 100 DE
		.item__info
			span SKLADEM
			| Expedujeme do 24h
li
	a(href='/electrolux/100-ds')
		img(src="img/dummy-bag.jpg", alt="Model name")
		strong 100 DS
		.item__info
			span SKLADEM
			| Expedujeme do 24h
