footer
	.container
		.row
			.col-xs-12.col-sm-5
				small
					| Porzsákok © 2016
					br
					| Opavská 8, 831 01 Bratislava
					br
					span.glyphicon.glyphicon-phone-alt
					|  +421 948 394 420 
					| &nbsp;&nbsp;&nbsp;
					span.glyphicon.glyphicon-envelope
					a(href='mailto:info@vrecka-vysavace.sk') 
						|  info@vrecka-vysavace.sk
			.col-xs-12.col-sm-3
				small
					a(href='/kontakt.html') Kontakt
					br
					a(href='/pravna-dolozka') Právna doložka
					br
					a(href='/ochrana-osobnych-udajov') Ochrana osobných údajov
			.col-xs-12.col-sm-4.text-right
				small
					| design &amp; coding by 
					a(href='http://www.strapa.cz/', target='_blank') strapa.cz
					br
					| developed by 
					a(href='http://www.devpoint.cz', target='_blank') devPOINT
//- .container-fluid.eu-cookies.alert-warning
//- 	.row
//- 		.col-sm-12
//- 			| Tento web využívá cookies. Jeho používáním tím vyjadřujete souhlas. 
//- 			a.alert-link(href='https://www.google.com/policies/technologies/cookies/') Další informace
//- 			| 
//- 			button.right.btn.btn-sm.btn-warning(type='button') OK, souhlasím!
