footer
	.container
		.row
			.col-xs-12.col-sm-5
				small
					| Porzsákok © 2016
					br
					| Opavská 8, 831 01 Bratislava
					br
					span.glyphicon.glyphicon-phone-alt
					|  +421 948 394 420 
					| &nbsp;&nbsp;&nbsp;
					span.glyphicon.glyphicon-envelope
					a(href='mailto:info@vrecka-vysavace.sk') 
						|  info@vrecka-vysavace.sk
			.col-xs-12.col-sm-3
				small
					a(href='/kontakt.html') Kontakt
					br
					a(href='/pravna-dolozka') Právna doložka
					br
					a(href='/ochrana-osobnych-udajov') Ochrana osobných údajov
			.col-xs-12.col-sm-4.text-right
				small
					| design &amp; coding by 
					a(href='http://www.strapa.cz/', target='_blank') strapa.cz
					br
					| developed by 
					a(href='http://www.devpoint.cz', target='_blank') devPOINT
.eu-cookies.container-fluid
	.row.alert-info
		.container
			.col-sm-12
				button.close.btn.btn-sm(type='button') &times;
				| Ez a weboldal a szolg&aacute;ltat&aacute;sny&uacute;jt&aacute;shoz &eacute;s a l&aacute;togat&aacute;s-elemz&eacute;shez cookies f&aacute;jlokat haszn&aacute;l. A weboldal hazn&aacute;lat&aacute;val &Ouml;n ezt elfogadja. 
				a.alert-link(href='https://www.google.com/policies/technologies/cookies/') Tov&aacute;bbi inform&aacute;ci&oacute;k
	
	noscript
		style.
			.eu-cookies { display:none }