//- #hw-87kwowifjjowiklsadh666right(style='position: fixed !important; height: 317px; width: 356px; top: 60px; right: -36px; z-index: 2147483647;')
//-   #heurekaTabright(style='float: left; background-image: url(https://im9.cz/css-v2/images/widget/right-zalozka-only-gold.png?1); position: relative; display: block; width: 36px; height: 188px; z-index: 2147483647; margin-top: 65px; left: -36px; background-position: 0px 0px; background-repeat: no-repeat no-repeat;')
//-   #heurekaIfrBoxright(style='float: left; overflow: hidden; position: relative; width: 356px; top: -188px;')
//-     iframe#iframe-widgetright(allowtransparency='true', frameborder='0', scrolling='no', src='https://ssl.heureka.cz/direct/i/widget.php?key=6EDD92D087D2ACF1289614E8E00B42C1&wt=22', width='320px', height='317px', style='float: left; position: relative;')
.heureka
	img(src="img/dummy-heureka-right.png" alt="Heuréka")
