nav#cd-vertical-nav
	ul
		li
			a(href='#s01', data-number='1')
				span.cd-dot-wrapper.first
					span.cd-dot
				span.cd-label Vyhledávání
		li
			a(href='#s02', data-number='2')
				span.cd-dot-wrapper
					span.cd-dot
				span.cd-label Ověřeno našimi zákazníky
		li
			a(href='#s03', data-number='3')
				span.cd-dot-wrapper
					span.cd-dot
				span.cd-label Značky vysavačů
		li
			a(href='#s04', data-number='4')
				span.cd-dot-wrapper
					span.cd-dot
				span.cd-label Sáčky VACS
		//- li
		//- 	a(href='#section-05', data-number='5')
		//- 		span.cd-dot-wrapper
		//- 			span.cd-dot
		//- 		span.cd-label Doplňkové zboží
		li
			a(href='#s05', data-number='5')
				span.cd-dot-wrapper
					span.cd-dot
				span.cd-label Kontakt
		li
			a(href='#s06', data-number='6')
				span.cd-dot-wrapper.last
					span.cd-dot
				span.cd-label Stav objednávky
a.cd-nav-trigger.cd-img-replace
	| Open navigation
	span
