.container-fluid.search
	.row.intro
		.col-lg-12.text-center
			h1.special Porzsákok
			p.lead Sáčky pro více než 15 000 typů vysavačů
	.row.tabs
		// Tab panes
		.tab-content.col-xs-12
			#search-brand.tab-pane.fade(role='tabpanel')
				form(action='seznam-znacek.html')
					select#frm-firmSelectForm-firm(name='firm')
						<option value="">Vyberte značku vysavače</option>
						include ./search-select.jade
				a.find(href='#', data-toggle="modal", data-target="#myModal") Jak zjistit typ vysavače?
			#search-fulltext.tab-pane.fade.in.active(role='tabpanel')
				form(action='seznam-modelu.html')
					input(type='text', placeholder='Napište značku a/nebo typ vysavače')
					button.btn(type='submit')
						span.glyphicon.glyphicon-search(aria-hidden='true')
				a.find(href='#', data-toggle="modal", data-target="#myModal") Jak zjistit typ vysavače?
			#search-list.tab-pane.fade(role='tabpanel')
				.row
					ul.list-links
						include ./search-list-links.jade
				a.find(href='seznam-znacek.html') všechny značky…
		// Nav tabs
		ul.nav.nav-pills(role='tablist')
			li.col-xs-4(role='presentation')
				a(href='#search-brand', aria-controls='search-brand', role='tab', data-toggle='tab') Podle značky a typu
			li.col-xs-4.active(role='presentation')
				a(href='#search-fulltext', aria-controls='search-fulltext', role='tab', data-toggle='tab') Fulltextové hledání
			li.col-xs-4(role='presentation')
				a(href='#search-list', aria-controls='search-list', role='tab', data-toggle='tab') Nejhledanější
