.container-fluid.search#section-01.cd-section
	.container
		.row.intro
			.col-lg-7.col-md-6.text-center
				h1.special Sáčky pro více než <nobr>15&thinsp;000</nobr>&nbsp;typů vysavačů
		.row
			// Tab panes
			.col-lg-7.col-md-6.col-xs-12#search-fulltext.fade.in
					form(action='seznam-modelu.html')
						input(type='text', placeholder='Hledejte značku a/nebo typ vysavače')
						i.icon-piggy
						button.btn(type='submit') Hledat
					.whisper
						.content
							h5 Nejhledanější značky
							ul.top
								li
									a(href="seznam-modelu.html")
										img(src="img/dummy-brand-electrolux.png")
										.link
											span.result Electrolux
								li
									a(href="seznam-modelu.html")
										img(src="img/dummy-brand-rowenta.png")
										.link
											span.result Rowenta
								li
									a(href="seznam-modelu.html")
										img(src="img/dummy-brand-eta.png")
										.link
											span.result Eta
											span.price 
												span od 
												| 0.49 € / kus
							h5 Všechny značky
							include ./search-brands.jade
							ul
								for brand in brands
									li
										a(href="#")
											img
											.link
												span= brand
					a.find(href='#', data-toggle="modal", data-target="#myModal") Jak zjistit typ vysavače?
