.col-xs-12.col-sm-6
	.item
		img(src="https://chci-vysavat.cz/images/assets/pack/myThumb/BR0001.jpg")
		h5 
			a(href="#") Vůně do vysavače - citrónová (na více řádků)
		div
			div 
				strong Balení obsahuje: 
				| 1ks
				br
				strong Skladem: 
				| ano
				br
				strong Cena: 
				| 149.00 Kč
			a.btn.btn-primary(href="#") Vložit do košíku
