nav.navbar.navbar-default.navbar-fixed-top
	.container-fluid.fast-contact
		.row
			.col-sm-12
				a(href="mailto:info@chci-vysavat.cz") info@chci-vysavat.cz
				| (+420) 733 389 497
	.container-fluid
		.navbar-header.pull-left
			a.navbar-brand.special(href='index.html') chci-vysávat.cz
		.navbar-header.pull-right.cart
			ul.nav.navbar-nav.pull-left
				li.hidden-xs
					a.cart(href='prihlaseni.html')
						i.icon-user(aria-hidden='true')
						| Přihlášení
				li
					a.cart(href='kosik.html')
						i.icon-cart(aria-hidden='true')
						| Košík
						span.badge 2
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#menu', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
		#menu.collapse.navbar-collapse.navbar-left
			ul.nav.navbar-nav
				li
					a(href='o-nas.html') O nás
				//- li.active
				li
					a(href='jak-nakoupit.html') Jak nakoupit
				li
					a(href='kontakt.html') Kontakt
				li
					a(href='moje-objednavka.html') Moje objednávka
				li.visible-xs
					a.cart(href='prihlaseni.html')
						| Přihlášení
						i.icon-user(aria-hidden='true')
