nav.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		.navbar-header.pull-left
			a.navbar-brand.special(href='index.html') Porzsákok
		.navbar-header.pull-right.cart
			ul.nav.navbar-nav.pull-left
				li.hidden-xs
					a.cart(href='prihlaseni.html')
						| Přihlášení
						span.glyphicon.glyphicon-user(aria-hidden='true')
				li.dropdown
					//- a.cart(href='kosik.html', class="dropdown-toggle", data-toggle="dropdown")
					a.cart(href='kosik.html')
						| Košík
						span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
						span.badge 2
					ul.dropdown-menu.hidden-xs
						li
							include item--cart--dropdown.jade
						li
							include item--cart--dropdown.jade
						a.btn.btn-primary.btn-lg(href="#") Přejít do košíku
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#menu', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
		#menu.collapse.navbar-collapse.navbar-left
			ul.nav.navbar-nav
				li
					a(href='o-nas.html') O nás
				li.active
					a(href='jak-nakoupit.html') Jak nakoupit
				li
					a(href='kontakt.html') Kontakt
				li
					a(href='moje-objednavka.html') Moje objednávka
				li.visible-xs
					a.cart(href='prihlaseni.html')
						| Přihlášení
						span.glyphicon.glyphicon-user(aria-hidden='true')
