nav.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		.navbar-header.pull-left
			a.navbar-brand.special(href='index.html') chci-vysávat.cz
		.navbar-header.pull-right.cart
			ul.nav.navbar-nav.pull-left
				li.hidden-xs
					a.cart(href='prihlaseni.html')
						span.glyphicon.glyphicon-user(aria-hidden='true')
						| Přihlásit
				li
					a.cart(href='kosik.html')
						span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
						span.badge 2 
							span.hidden-xs balení
						|  1360 Kč
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#menu', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
		#menu.collapse.navbar-collapse.navbar-left
			ul.nav.navbar-nav
				li
					a(href='o-nas.html') Více o sáčcích VACS
				//- li.active
				li
					a(href='jak-nakoupit.html') Jak nakoupit
				li
					a(href='kontakt.html') Kontakt
				li
					a(href='moje-objednavka.html') Moje objednávka
				li.visible-xs
					a.cart(href='prihlaseni.html')
						| Přihlásit
						span.glyphicon.glyphicon-user(aria-hidden='true')
