.bag_benefits
    .bag_benefits__benefit
        i.icon-pic-magnify
        span 5&nbsp;filtračních vrstev
    .bag_benefits__benefit
        i.icon-pic-space
        span Lepší využití prostoru
    .bag_benefits__benefit
        i.icon-pic-clock
        span Prodloužená životnost
    .bag_benefits__benefit
        i.icon-pic-filter
        span Účinnější filtrace
    .bag_benefits__benefit
        i.icon-pic-join
        span Pevnost spoje
    .bag_benefits__benefit
        i.icon-pic-closing
        span Hygienický uzávěr