.col-xs-12.col-md-6.pagination
	.btn-toolbar
		.btn-group
			//- button(type="button").btn.btn-default.disabled.hidden-xs předchozí
			//- button(type="button").btn.btn-default.disabled.visible-xs &laquo;
			button(type="button").btn.btn-default.disabled &laquo;
		.btn-group
			button(type="button").btn.btn-default.btn-active 1
			button(type="button").btn.btn-default 2
			button(type="button").btn.btn-default 3
		.btn-group
			span . . . 
		.btn-group
			button(type="button").btn.btn-default 14
		.btn-group
			//- button(type="button").btn.btn-default.hidden-xs další
			//- button(type="button").btn.btn-default.visible-xs &laquo;
			button(type="button").btn.btn-default &raquo;
