// jQuery Version 1.11.1 
//- script(src='js/jquery.min.js')
//- // Bootstrap Core JavaScript 
//- script(src='js/bootstrap.min.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.js')
//- script(src='js/bootstrap-toolkit.min.js')
//- script(src='js/readmore.min.js')
//- script(src='js/scrollreveal.min.js')
//- script(src='js/smooth-scroll.min.js')
//- script(src='js/app.js')
script(src='js/scripts.js')
script(src='js/app.js')
