<option value="2">ACEC</option>
<option value="500">ADIX  </option>
<option value="3">AEG</option>
<option value="4">AFK</option>
<option value="5">AIRFLO</option>
<option value="6">AKA</option>
<option value="7">ALASKA</option>
<option value="8">ALDI</option>
<option value="9">ALFATEC</option>
<option value="470">ALPHA  </option>
<option value="10">ALPINA</option>
<option value="418">AMADIS  </option>
<option value="11">AMICA</option>
<option value="471">AMSTRAD  </option>
<option value="18">APOLLO</option>
<option value="12">AQUA VAC</option>
<option value="419">AQUAPUR  </option>
<option value="390">ARAMIS</option>
<option value="13">ARIETE</option>
<option value="14">ARLETT</option>
<option value="15">ARNICA</option>
<option value="17">ARTEC</option>
<option value="16">ATLANTA</option>
<option value="1">AVENBERG</option>
<option value="19">BAUER</option>
<option value="20">BAUKNECHT</option>
<option value="420">BAUR  </option>
<option value="21">BAUR VERSAND</option>
<option value="23">BEAM</option>
<option value="22">BEEM</option>
<option value="421">BEEM BLITZ  </option>
<option value="24">BEKO</option>
<option value="472">BERTHEN  </option>
<option value="25">BERTON</option>
<option value="39">BERYL</option>
<option value="26">BESTRON</option>
<option value="27">BETRON</option>
<option value="29">BHG</option>
<option value="42">BIELMEIER</option>
<option value="422">BIMATEC  </option>
<option value="28">BISSEL</option>
<option value="47">BLACK&amp;DECKER</option>
<option value="30">BLISS</option>
<option value="31">BLOMBERG</option>
<option value="32">BLUE AIR</option>
<option value="40">BLUE SKY</option>
<option value="41">BLUE WIND</option>
<option value="473">BLUEL  </option>
<option value="43">BOB HOME</option>
<option value="33">BOMANN</option>
<option value="34">BOOSTY</option>
<option value="45">BOREAL</option>
<option value="423">BORK  </option>
<option value="35">BOSCH</option>
<option value="36">BOSCH/SIEMENS</option>
<option value="44">BOXER</option>
<option value="37">BRAVO</option>
<option value="38">BRINKMANN</option>
<option value="46">BSK</option>
<option value="424">BUSH  </option>
<option value="374">BVC</option>
<option value="48">CALOR</option>
<option value="49">CARREFOUR</option>
<option value="51">CIRCON</option>
<option value="52">CLATRONIC</option>
<option value="474">CLEAN MAXX  </option>
<option value="375">CLEANFIX</option>
<option value="55">COLLO</option>
<option value="57">COLUMBUS</option>
<option value="53">CONCEPT</option>
<option value="54">CONDEL</option>
<option value="403">CTC</option>
<option value="56">CURTISS</option>
<option value="58">DAEWOO</option>
<option value="77">DALCOD</option>
<option value="59">DAMIK</option>
<option value="60">DAREL</option>
<option value="61">DE LONGHI</option>
<option value="62">DE SINA</option>
<option value="425">DELONGHI  </option>
<option value="75">DELOS</option>
<option value="64">DELTA</option>
<option value="371">DeWALT</option>
<option value="63">DICAFF</option>
<option value="76">DIE LINE</option>
<option value="65">DILEM</option>
<option value="66">DIRT DEVIL</option>
<option value="67">DIV</option>
<option value="391">DIXON</option>
<option value="68">DOMIX</option>
<option value="69">DOMO</option>
<option value="78">DOMOSTAR</option>
<option value="426">DREAMCLEAN  </option>
<option value="71">DUN RITE</option>
<option value="70">DUNWAY</option>
<option value="475">DUO  </option>
<option value="376">DUPLEX</option>
<option value="74">DURABRAND</option>
<option value="72">DUSTCRAFT</option>
<option value="73">DYNAMIX</option>
<option value="79">E-MATIC</option>
<option value="80">ECG</option>
<option value="377">ECOLAB</option>
<option value="82">ECOLINE</option>
<option value="83">ECOSYSTEM</option>
<option value="81">ECRON</option>
<option value="476">EFBE SCHOTT  </option>
<option value="84">EFBE-SCHOTT</option>
<option value="85">EINHELL</option>
<option value="86">EIO</option>
<option value="107">EL STAR</option>
<option value="87">ELCO TECH</option>
<option value="108">ELCOEL</option>
<option value="88">ELDOM</option>
<option value="89">ELECTROHELIOS</option>
<option value="90">ELECTROLUX</option>
<option value="378">ELEKTROMA</option>
<option value="427">ELETTROZETA  </option>
<option value="411">ELEXAVOX</option>
<option value="91">ELIN</option>
<option value="96">ELITE</option>
<option value="93">ELRAM</option>
<option value="92">ELTA</option>
<option value="94">ELTROPA</option>
<option value="109">ELVITA</option>
<option value="428">EMERIO (AFK)  </option>
<option value="95">EMIDE</option>
<option value="477">ENTRONIC  </option>
<option value="97">EST</option>
<option value="98">ETA</option>
<option value="99">EUDORA</option>
<option value="100">EUP</option>
<option value="101">EUREKA</option>
<option value="102">EURELEM</option>
<option value="392">EUROCLEAN</option>
<option value="103">EUROPA STYLE</option>
<option value="401">EUROPLUS</option>
<option value="393">EVA</option>
<option value="105">EVERGLADES</option>
<option value="429">EVGO  </option>
<option value="106">EWT</option>
<option value="104">EXPRES</option>
<option value="110">FAGOR</option>
<option value="111">FAKIR</option>
<option value="430">FAKIR (NILCO)  </option>
<option value="112">FAM</option>
<option value="113">FAMULUS</option>
<option value="114">FAMUS</option>
<option value="115">FAR</option>
<option value="126">FAVORIT</option>
<option value="116">FERM</option>
<option value="117">FERRARI</option>
<option value="118">FERSEN</option>
<option value="119">FIF</option>
<option value="478">FIF (ALDI)  </option>
<option value="394">FILTERCLEAN</option>
<option value="120">FIRST</option>
<option value="479">FIRST LINE  </option>
<option value="121">FIRSTLINE</option>
<option value="128">FLAMA</option>
<option value="129">FLEX</option>
<option value="431">FLINK &amp; SAUBER  </option>
<option value="379">FLOORMATIC</option>
<option value="127">FRANGER</option>
<option value="122">FRIAC</option>
<option value="123">FRILEC</option>
<option value="124">FUDA</option>
<option value="125">FUST</option>
<option value="132">G3 FERRARI</option>
<option value="130">GALAXY</option>
<option value="410">GALLET</option>
<option value="131">GARDENA</option>
<option value="133">GEMEX</option>
<option value="134">GERMATIC</option>
<option value="135">GHIBLI</option>
<option value="136">GIRMI</option>
<option value="149">GISOWATT</option>
<option value="137">GLENAN</option>
<option value="480">GLOBUS  </option>
<option value="139">GOBLIN</option>
<option value="432">GOBLIN FAM  </option>
<option value="138">GODDESS</option>
<option value="141">GOLDSTAR</option>
<option value="140">GOODMANNS</option>
<option value="481">GOODMANS  </option>
<option value="142">GORENJE</option>
<option value="143">GRACIA</option>
<option value="144">GRANDIUS</option>
<option value="145">GREEN POINT</option>
<option value="150">GROWN</option>
<option value="146">GRUNDIG</option>
<option value="147">GÜDE</option>
<option value="148">GUZZANTIGZ</option>
<option value="151">HAKO</option>
<option value="152">HANSEATIC</option>
<option value="380">HAREMA</option>
<option value="433">HARRISON  </option>
<option value="482">HAUSER  </option>
<option value="153">HECHT</option>
<option value="399">HERKULES</option>
<option value="154">HIT COMPANY</option>
<option value="155">HITACHI</option>
<option value="169">HOFER</option>
<option value="156">HOLDEN</option>
<option value="157">HOLLAND ELECTRO</option>
<option value="158">HOLLANDIA</option>
<option value="159">HOME ANGEL</option>
<option value="160">HOME ELECTRONIC</option>
<option value="483">HOME ELECTRONICS  </option>
<option value="163">HOME TEK</option>
<option value="161">HOMEFRIEND</option>
<option value="162">HOMETECH</option>
<option value="434">HOMETEK  </option>
<option value="164">HOOVER</option>
<option value="165">HORIZON</option>
<option value="166">HOTPOINT</option>
<option value="370">HQ</option>
<option value="167">HUGIN</option>
<option value="381">HV VACUUMLINE</option>
<option value="168">HYUNDAI</option>
<option value="50">CHROMEX</option>
<option value="170">IDELINE</option>
<option value="382">IGEFA</option>
<option value="171">IMETEC</option>
<option value="484">INCONTRO  </option>
<option value="175">INDESIT</option>
<option value="172">INSPIRA</option>
<option value="176">INTERCLEAN</option>
<option value="173">ITO</option>
<option value="174">ITT</option>
<option value="395">IVAC</option>
<option value="435">JATA  </option>
<option value="178">JCV</option>
<option value="177">JMB</option>
<option value="238">K-TEC</option>
<option value="224">KAISKI</option>
<option value="223">KAISUI</option>
<option value="225">KALORIK</option>
<option value="226">KAMBROOK</option>
<option value="227">KÄRCHER</option>
<option value="229">KARSTADT</option>
<option value="228">KAUFLAND</option>
<option value="239">KELNER</option>
<option value="230">KENNI</option>
<option value="485">KENNI (KODI)  </option>
<option value="231">KENWOOD</option>
<option value="436">KERWAVE  </option>
<option value="486">KING D HOME  </option>
<option value="236">KING’D HOME</option>
<option value="487">KINGCLEAN  </option>
<option value="237">KINGLAKE</option>
<option value="232">KNEISSEL</option>
<option value="233">KONČAR</option>
<option value="234">KONIG</option>
<option value="235">KRUPS</option>
<option value="179">LAND</option>
<option value="488">LAND (CHINA)  </option>
<option value="180">LASER</option>
<option value="400">LAVOR PRO</option>
<option value="181">LAVORWASH</option>
<option value="182">LCE</option>
<option value="437">LE CLERC  </option>
<option value="183">LECERC</option>
<option value="438">LEHOFF  </option>
<option value="184">LENIGA</option>
<option value="185">LERVIA</option>
<option value="186">LETRON</option>
<option value="388">LFG</option>
<option value="187">LG ELECTRONICS</option>
<option value="194">LIGHT AND EASY</option>
<option value="188">Lindhaus</option>
<option value="189">LIV</option>
<option value="190">LIVENTA</option>
<option value="191">LLOYDS</option>
<option value="489">LOCUS  </option>
<option value="396">LORITO</option>
<option value="196">LUMAG</option>
<option value="192">LUX</option>
<option value="195">LUXOR</option>
<option value="193">LUXTRONIC</option>
<option value="219">MAGIC</option>
<option value="197">MARK</option>
<option value="220">MASTER</option>
<option value="198">MASTERCRAFT</option>
<option value="383">MASTERVAC</option>
<option value="416">Materiál: Antibakteriální netk</option>
<option value="218">MATSUI</option>
<option value="199">MBO</option>
<option value="200">MEDION</option>
<option value="439">MEGAPOWER  </option>
<option value="201">MELISSA</option>
<option value="389">MENALUX</option>
<option value="440">MENALUX BEUTEL </option>
<option value="202">MERRIT</option>
<option value="203">METEOR</option>
<option value="204">MIA</option>
<option value="207">MICROMAXX</option>
<option value="205">MIELE</option>
<option value="217">MIGHTY VAC</option>
<option value="206">MIOSTAR</option>
<option value="208">MISTRAL</option>
<option value="209">MITSUBISHI</option>
<option value="222">MOBILO</option>
<option value="412">MONDILEC</option>
<option value="212">MONIX</option>
<option value="221">MONTISS</option>
<option value="213">MORGAN’S</option>
<option value="441">MORGANS  </option>
<option value="210">MORPHY RICHARDS</option>
<option value="211">MORRIS</option>
<option value="214">MOULINEX</option>
<option value="216">MPM</option>
<option value="215">MULTITEC</option>
<option value="442">MY EDITION  </option>
<option value="244">NAREX</option>
<option value="404">NECKERMANN</option>
<option value="246">NEUFUNK</option>
<option value="247">NEVIR</option>
<option value="490">NIKKO  </option>
<option value="240">NILCO</option>
<option value="241">NILFISK</option>
<option value="245">NORDLINE</option>
<option value="248">NOVA</option>
<option value="242">NOVAMATIC</option>
<option value="243">NUMATIC</option>
<option value="252">OBH Nordica</option>
<option value="373">OK LINE</option>
<option value="249">OMEGA</option>
<option value="491">ONN  </option>
<option value="443">OPTIMA  </option>
<option value="250">OPTIMUM</option>
<option value="251">ORAVA</option>
<option value="492">ORVA  </option>
<option value="444">PACIFIC  </option>
<option value="254">PANASONIC</option>
<option value="253">PARIS</option>
<option value="255">PARKSIDE</option>
<option value="256">PHILADELPHIA</option>
<option value="257">PHILIPS</option>
<option value="384">PHOENIX</option>
<option value="274">PLUSPUNKT</option>
<option value="493">POLAR  </option>
<option value="445">POLARIS  </option>
<option value="258">POWERPLUS</option>
<option value="260">PRIMERA</option>
<option value="259">PRINCESS</option>
<option value="261">PRINCIPAL</option>
<option value="262">PRIVILEG</option>
<option value="446">PRO VISION  </option>
<option value="447">PROACTION  </option>
<option value="413">PROFECTIS</option>
<option value="273">PROFESIONAL</option>
<option value="263">PROFESSOR</option>
<option value="264">PROFILO</option>
<option value="265">PROFIMASTER</option>
<option value="266">PROGRESS</option>
<option value="267">PROLINE</option>
<option value="272">PROOFTECH</option>
<option value="268">PROPHETE</option>
<option value="269">PROTECH</option>
<option value="270">PROTOOL</option>
<option value="271">PROTOS</option>
<option value="397">PULLMAN</option>
<option value="448">QUELLE AUSTRIA  </option>
<option value="494">QUIGG  </option>
<option value="449">QVC  </option>
<option value="275">REMINGTON</option>
<option value="276">ROHNSON</option>
<option value="450">ROLSEN  </option>
<option value="277">ROMIX</option>
<option value="278">ROTARY</option>
<option value="279">ROTEL</option>
<option value="280">ROWENTA</option>
<option value="281">RUTONRO</option>
<option value="282">SAF-BAG</option>
<option value="283">SALCO</option>
<option value="284">SAMSUNG</option>
<option value="285">SANTRAP</option>
<option value="286">SANYO</option>
<option value="451">SATRAP  </option>
<option value="287">SATURN</option>
<option value="288">SCARLETT</option>
<option value="291">SEAWAY</option>
<option value="292">SEBO</option>
<option value="385">SELCO</option>
<option value="454">SELECTLINE  </option>
<option value="405">SELLERS</option>
<option value="293">SENCOR</option>
<option value="315">SERD</option>
<option value="294">SEVERIN</option>
<option value="320">SHARK</option>
<option value="295">SHARP</option>
<option value="414">SHG</option>
<option value="455">SHIVAKI  </option>
<option value="296">SHOP VAC</option>
<option value="289">SCHAFER</option>
<option value="452">SCHAUB LORENZ  </option>
<option value="453">SCHNEIDER  </option>
<option value="290">SCHOTT</option>
<option value="297">SIDEX</option>
<option value="298">SIEMENS</option>
<option value="314">SILENCIO</option>
<option value="299">SILVA</option>
<option value="456">SILVA SCHNEIDER  </option>
<option value="406">SIMEC</option>
<option value="300">SIMPEX</option>
<option value="321">SINBO</option>
<option value="301">SINGER</option>
<option value="313">SKYLINE</option>
<option value="303">Smart Vac</option>
<option value="302">SMC</option>
<option value="457">SMILE (CHINA)  </option>
<option value="304">SOLAC</option>
<option value="495">SOLFACYL  </option>
<option value="305">SORMA</option>
<option value="306">SOTECO</option>
<option value="316">SPEED.</option>
<option value="311">SPEEDCLEAN, SPEEDY</option>
<option value="307">SPITZENREITER</option>
<option value="317">STANDARD</option>
<option value="458">STANDARD (CH)  </option>
<option value="312">STARKE</option>
<option value="417">STARLINE</option>
<option value="318">STARS</option>
<option value="415">STECA</option>
<option value="402">STIHL</option>
<option value="308">STRZELEC</option>
<option value="309">SUPERIOR</option>
<option value="310">SUPPORT PLUS</option>
<option value="459">SUPPORTPLUS  </option>
<option value="460">SWAN  </option>
<option value="372">SWIRL</option>
<option value="322">TASKI</option>
<option value="323">TAURUS</option>
<option value="496">TCM  </option>
<option value="325">TEAM</option>
<option value="407">TEC</option>
<option value="326">TEFAL</option>
<option value="497">TECHNIKA  </option>
<option value="461">TECHNOSTAR  </option>
<option value="327">TELESHOP</option>
<option value="462">TERMOZETA  </option>
<option value="328">TESCO</option>
<option value="329">TESLA</option>
<option value="330">TESLA/TEAM</option>
<option value="463">TEVION  </option>
<option value="331">THE BOSS</option>
<option value="332">THOMAS</option>
<option value="333">TIP TOP</option>
<option value="464">TMB  </option>
<option value="324">TMC/TCHIBO</option>
<option value="334">TOKIWA</option>
<option value="408">TOP CLEAN</option>
<option value="341">TOP EDITION</option>
<option value="409">TOP FILTER</option>
<option value="335">TORNADO</option>
<option value="336">TREND LINE</option>
<option value="465">TRENDLINE  </option>
<option value="466">TRIOMPH  </option>
<option value="343">TRIONTR</option>
<option value="337">TRISA</option>
<option value="338">TRISTA</option>
<option value="339">TRISTAR</option>
<option value="467">TRIUMPH  </option>
<option value="386">TRUVOX</option>
<option value="342">TURBOFEE</option>
<option value="340">TWIST</option>
<option value="344">UFESA</option>
<option value="468">UNIFIT  </option>
<option value="346">UNITED</option>
<option value="345">UPO</option>
<option value="348">VACGANGE</option>
<option value="347">VACLENSA PROCLEAN</option>
<option value="349">VAX</option>
<option value="350">VENDOMATIC</option>
<option value="351">VETRELLA</option>
<option value="352">VIKING</option>
<option value="353">VITEK</option>
<option value="354">VOLTA</option>
<option value="498">VORTEX  </option>
<option value="355">VORWERK</option>
<option value="469">WAVES  </option>
<option value="356">WELTSTAR</option>
<option value="357">WESTFALIA</option>
<option value="358">WESTLER</option>
<option value="362">WETRA</option>
<option value="387">WETROK</option>
<option value="499">WHITE &amp; BROWN  </option>
<option value="359">WHITE AND BROWN</option>
<option value="361">WIGOMAT</option>
<option value="360">WILFA</option>
<option value="363">WIRBEL</option>
<option value="398">WOLF</option>
<option value="364">Z.W.T.</option>
<option value="365">ZAFIR</option>
<option value="366">ZANUSSI</option>
<option value="367">ZELMER</option>
<option value="368">ZINATIC</option>
<option value="369">ZINK</option>
