-
	brands= ["ACEC",
		"ADIX  ",
		"AEG",
		"AFK",
		"AIRFLO",
		"AKA",
		"ALASKA",
		"ALDI",
		"ALFATEC",
		"ALPHA  ",
		"ALPINA",
		"AMADIS  ",
		"AMICA",
		"AMSTRAD  ",
		"APOLLO",
		"AQUA VAC",
		"AQUAPUR  ",
		"ARAMIS",
		"ARIETE",
		"ARLETT",
		"ARNICA",
		"ARTEC",
		"ATLANTA",
		"AVENBERG",
		"BAUER",
		"BAUKNECHT",
		"BAUR  ",
		"BAUR VERSAND",
		"BEAM",
		"BEEM",
		"BEEM BLITZ  ",
		"BEKO",
		"BERTHEN  ",
		"BERTON",
		"BERYL",
		"BESTRON",
		"BETRON",
		"BHG",
		"BIELMEIER",
		"BIMATEC  ",
		"BISSEL",
		"BLACK&amp;DECKER",
		"BLISS",
		"BLOMBERG",
		"BLUE AIR",
		"BLUE SKY",
		"BLUE WIND",
		"BLUEL  ",
		"BOB HOME",
		"BOMANN",
		"BOOSTY",
		"BOREAL",
		"BORK  ",
		"BOSCH",
		"BOSCH/SIEMENS",
		"BOXER",
		"BRAVO",
		"BRINKMANN",
		"BSK",
		"BUSH  ",
		"BVC",
		"CALOR",
		"CARREFOUR",
		"CIRCON",
		"CLATRONIC",
		"CLEAN MAXX  ",
		"CLEANFIX",
		"COLLO",
		"COLUMBUS",
		"CONCEPT",
		"CONDEL",
		"CTC",
		"CURTISS",
		"DAEWOO",
		"DALCOD",
		"DAMIK",
		"DAREL",
		"DE LONGHI",
		"DE SINA",
		"DELONGHI  ",
		"DELOS",
		"DELTA",
		"DeWALT",
		"DICAFF",
		"DIE LINE",
		"DILEM",
		"DIRT DEVIL",
		"DIV",
		"DIXON",
		"DOMIX",
		"DOMO",
		"DOMOSTAR",
		"DREAMCLEAN  ",
		"DUN RITE",
		"DUNWAY",
		"DUO  ",
		"DUPLEX",
		"DURABRAND",
		"DUSTCRAFT",
		"DYNAMIX",
		"E-MATIC",
		"ECG",
		"ECOLAB",
		"ECOLINE",
		"ECOSYSTEM",
		"ECRON",
		"EFBE SCHOTT  ",
		"EFBE-SCHOTT",
		"EINHELL",
		"EIO",
		"EL STAR",
		"ELCO TECH",
		"ELCOEL",
		"ELDOM",
		"ELECTROHELIOS",
		"ELECTROLUX",
		"ELEKTROMA",
		"ELETTROZETA  ",
		"ELEXAVOX",
		"ELIN",
		"ELITE",
		"ELRAM",
		"ELTA",
		"ELTROPA",
		"ELVITA",
		"EMERIO (AFK)  ",
		"EMIDE",
		"ENTRONIC  ",
		"EST",
		"ETA",
		"EUDORA",
		"EUP",
		"EUREKA",
		"EURELEM",
		"EUROCLEAN",
		"EUROPA STYLE",
		"EUROPLUS",
		"EVA",
		"EVERGLADES",
		"EVGO  ",
		"EWT",
		"EXPRES",
		"FAGOR",
		"FAKIR",
		"FAKIR (NILCO)  ",
		"FAM",
		"FAMULUS",
		"FAMUS",
		"FAR",
		"FAVORIT",
		"FERM",
		"FERRARI",
		"FERSEN",
		"FIF",
		"FIF (ALDI)  ",
		"FILTERCLEAN",
		"FIRST",
		"FIRST LINE  ",
		"FIRSTLINE",
		"FLAMA",
		"FLEX",
		"FLINK &amp; SAUBER  ",
		"FLOORMATIC",
		"FRANGER",
		"FRIAC",
		"FRILEC",
		"FUDA",
		"FUST",
		"G3 FERRARI",
		"GALAXY",
		"GALLET",
		"GARDENA",
		"GEMEX",
		"GERMATIC",
		"GHIBLI",
		"GIRMI",
		"GISOWATT",
		"GLENAN",
		"GLOBUS  ",
		"GOBLIN",
		"GOBLIN FAM  ",
		"GODDESS",
		"GOLDSTAR",
		"GOODMANNS",
		"GOODMANS  ",
		"GORENJE",
		"GRACIA",
		"GRANDIUS",
		"GREEN POINT",
		"GROWN",
		"GRUNDIG",
		"GÜDE",
		"GUZZANTIGZ",
		"HAKO",
		"HANSEATIC",
		"HAREMA",
		"HARRISON  ",
		"HAUSER  ",
		"HECHT",
		"HERKULES",
		"HIT COMPANY",
		"HITACHI",
		"HOFER",
		"HOLDEN",
		"HOLLAND ELECTRO",
		"HOLLANDIA",
		"HOME ANGEL",
		"HOME ELECTRONIC",
		"HOME ELECTRONICS  ",
		"HOME TEK",
		"HOMEFRIEND",
		"HOMETECH",
		"HOMETEK  ",
		"HOOVER",
		"HORIZON",
		"HOTPOINT",
		"HQ",
		"HUGIN",
		"HV VACUUMLINE",
		"HYUNDAI",
		"CHROMEX",
		"IDELINE",
		"IGEFA",
		"IMETEC",
		"INCONTRO  ",
		"INDESIT",
		"INSPIRA",
		"INTERCLEAN",
		"ITO",
		"ITT",
		"IVAC",
		"JATA  ",
		"JCV",
		"JMB",
		"K-TEC",
		"KAISKI",
		"KAISUI",
		"KALORIK",
		"KAMBROOK",
		"KÄRCHER",
		"KARSTADT",
		"KAUFLAND",
		"KELNER",
		"KENNI",
		"KENNI (KODI)  ",
		"KENWOOD",
		"KERWAVE  ",
		"KING D HOME  ",
		"KING’D HOME",
		"KINGCLEAN  ",
		"KINGLAKE",
		"KNEISSEL",
		"KONČAR",
		"KONIG",
		"KRUPS",
		"LAND",
		"LAND (CHINA)  ",
		"LASER",
		"LAVOR PRO",
		"LAVORWASH",
		"LCE",
		"LE CLERC  ",
		"LECERC",
		"LEHOFF  ",
		"LENIGA",
		"LERVIA",
		"LETRON",
		"LFG",
		"LG ELECTRONICS",
		"LIGHT AND EASY",
		"Lindhaus",
		"LIV",
		"LIVENTA",
		"LLOYDS",
		"LOCUS  ",
		"LORITO",
		"LUMAG",
		"LUX",
		"LUXOR",
		"LUXTRONIC",
		"MAGIC",
		"MARK",
		"MASTER",
		"MASTERCRAFT",
		"MASTERVAC",
		"Materiál: Antibakteriální netk",
		"MATSUI",
		"MBO",
		"MEDION",
		"MEGAPOWER  ",
		"MELISSA",
		"MENALUX",
		"MENALUX BEUTEL ",
		"MERRIT",
		"METEOR",
		"MIA",
		"MICROMAXX",
		"MIELE",
		"MIGHTY VAC",
		"MIOSTAR",
		"MISTRAL",
		"MITSUBISHI",
		"MOBILO",
		"MONDILEC",
		"MONIX",
		"MONTISS",
		"MORGAN’S",
		"MORGANS  ",
		"MORPHY RICHARDS",
		"MORRIS",
		"MOULINEX",
		"MPM",
		"MULTITEC",
		"MY EDITION  ",
		"NAREX",
		"NECKERMANN",
		"NEUFUNK",
		"NEVIR",
		"NIKKO  ",
		"NILCO",
		"NILFISK",
		"NORDLINE",
		"NOVA",
		"NOVAMATIC",
		"NUMATIC",
		"OBH Nordica",
		"OK LINE",
		"OMEGA",
		"ONN  ",
		"OPTIMA  ",
		"OPTIMUM",
		"ORAVA",
		"ORVA  ",
		"PACIFIC  ",
		"PANASONIC",
		"PARIS",
		"PARKSIDE",
		"PHILADELPHIA",
		"PHILIPS",
		"PHOENIX",
		"PLUSPUNKT",
		"POLAR  ",
		"POLARIS  ",
		"POWERPLUS",
		"PRIMERA",
		"PRINCESS",
		"PRINCIPAL",
		"PRIVILEG",
		"PRO VISION  ",
		"PROACTION  ",
		"PROFECTIS",
		"PROFESIONAL",
		"PROFESSOR",
		"PROFILO",
		"PROFIMASTER",
		"PROGRESS",
		"PROLINE",
		"PROOFTECH",
		"PROPHETE",
		"PROTECH",
		"PROTOOL",
		"PROTOS",
		"PULLMAN",
		"QUELLE AUSTRIA  ",
		"QUIGG  ",
		"QVC  ",
		"REMINGTON",
		"ROHNSON",
		"ROLSEN  ",
		"ROMIX",
		"ROTARY",
		"ROTEL",
		"ROWENTA",
		"RUTONRO",
		"SAF-BAG",
		"SALCO",
		"SAMSUNG",
		"SANTRAP",
		"SANYO",
		"SATRAP  ",
		"SATURN",
		"SCARLETT",
		"SEAWAY",
		"SEBO",
		"SELCO",
		"SELECTLINE  ",
		"SELLERS",
		"SENCOR",
		"SERD",
		"SEVERIN",
		"SHARK",
		"SHARP",
		"SHG",
		"SHIVAKI  ",
		"SHOP VAC",
		"SCHAFER",
		"SCHAUB LORENZ  ",
		"SCHNEIDER  ",
		"SCHOTT",
		"SIDEX",
		"SIEMENS",
		"SILENCIO",
		"SILVA",
		"SILVA SCHNEIDER  ",
		"SIMEC",
		"SIMPEX",
		"SINBO",
		"SINGER",
		"SKYLINE",
		"Smart Vac",
		"SMC",
		"SMILE (CHINA)  ",
		"SOLAC",
		"SOLFACYL  ",
		"SORMA",
		"SOTECO",
		"SPEED.",
		"SPEEDCLEAN, SPEEDY",
		"SPITZENREITER",
		"STANDARD",
		"STANDARD (CH)  ",
		"STARKE",
		"STARLINE",
		"STARS",
		"STECA",
		"STIHL",
		"STRZELEC",
		"SUPERIOR",
		"SUPPORT PLUS",
		"SUPPORTPLUS  ",
		"SWAN  ",
		"SWIRL",
		"TASKI",
		"TAURUS",
		"TCM  ",
		"TEAM",
		"TEC",
		"TEFAL",
		"TECHNIKA  ",
		"TECHNOSTAR  ",
		"TELESHOP",
		"TERMOZETA  ",
		"TESCO",
		"TESLA",
		"TESLA/TEAM",
		"TEVION  ",
		"THE BOSS",
		"THOMAS",
		"TIP TOP",
		"TMB  ",
		"TMC/TCHIBO",
		"TOKIWA",
		"TOP CLEAN",
		"TOP EDITION",
		"TOP FILTER",
		"TORNADO",
		"TREND LINE",
		"TRENDLINE  ",
		"TRIOMPH  ",
		"TRIONTR",
		"TRISA",
		"TRISTA",
		"TRISTAR",
		"TRIUMPH  ",
		"TRUVOX",
		"TURBOFEE",
		"TWIST",
		"UFESA",
		"UNIFIT  ",
		"UNITED",
		"UPO",
		"VACGANGE",
		"VACLENSA PROCLEAN",
		"VAX",
		"VENDOMATIC",
		"VETRELLA",
		"VIKING",
		"VITEK",
		"VOLTA",
		"VORTEX  ",
		"VORWERK",
		"WAVES  ",
		"WELTSTAR",
		"WESTFALIA",
		"WESTLER",
		"WETRA",
		"WETROK",
		"WHITE &amp; BROWN  ",
		"WHITE AND BROWN",
		"WIGOMAT",
		"WILFA",
		"WIRBEL",
		"WOLF",
		"Z.W.T.",
		"ZAFIR",
		"ZANUSSI",
		"ZELMER",
		"ZINATIC",
		"ZINK"]
