.container.stripe-bag#section-04.cd-section
	.row
		h2 Prodáváme sáčky do vysavačů značky VACS
	include ./stripe-bag-content.jade
	.row
		a.btn.btn-default.btn-higher(href='#', role='button') Více o sáčcích VACS
