.container-fluid.stripe-covid
	.container
		.row
			.col-xs-12
				h2 LÁTKA PRO VÝROBU ROUŠEK
				p.text-size-lg
					| Vítr skoro nefouká a tak by se na první pohled mohlo zdát, že se balónky snad vůbec nepohybují. Jenom tak klidně levitují ve vzduchu. 
		.row
			.col-xs-12.col-sm-6
				.item
					img(src="https://chci-vysavat.cz/images/vacs-bag/vacs-pic-02.jpg", width=320)
					h5 
						a(href="#") Materiál 1 (30 x 30 cm)
					p Jde o sáček do vysavače bez úchytu o rozměrech šířka cca 20 cm, výška cca 30 cm. Sáček má boční záhyby cca 6 cm na každé straně. Když se tyto záhyby roztáhnou, velikost sáčku bude zhruba 30 x 30 cm. 
						strong Z tohoto sáčku vyrobíte 4 roušky (z jeho rohů).
					//- div 
					//- 	div 
					//- 		strong Balení obsahuje: 
					//- 		| 4ks
					//- 		br
					//- 		strong Skladem: 
					//- 		| ano
					//- 		br
					//- 		strong Cena: 
					//- 		| 123 Kč
					//- 		br
					//- 		br
					//- a.btn.btn-primary(href="#") Vložit do košíku
					a.btn.btn-primary(href="#") Detail materiálu
			.col-xs-12.col-sm-6
				.item
					img(src="https://chci-vysavat.cz/images/vacs-bag/vacs-pic-02.jpg", width=320)
					h5 
						a(href="#") Materiál 2 (80 x 40 cm)
					p Jde o sáček do vysavače bez úchytu o rozměrech šířka cca 40 cm, výška cca 80 cm. Sáček nemá na stranách boční záhyby. Dá se tedy snadno rozstříhat na několik pruhů z kterých následně vyrobíte roušky. 
						strong Tento rozměr doporučujeme pokud máte možnost využít šicí stroj.
					//- div 
					//- 	div 
					//- 		strong Balení obsahuje: 
					//- 		| 3ks
					//- 		br
					//- 		strong Skladem: 
					//- 		| ano
					//- 		br
					//- 		strong Cena: 
					//- 		| 123 Kč
					//- 		br
					//- 		br
					//- a.btn.btn-primary(href="#") Vložit do košíku
					a.btn.btn-primary(href="#") Detail materiálu