.container-fluid.stripe-contact.cd-section#s05
    .row
        .col-xs-12
            h2 Chcete se na něco zeptat?
    .row
        .col-xs-12
            p
                | Pište na 
                strong
                    a(href='mailto:info@vrecka-vysavace.sk') info@vrecka-vysavace.sk
        .col-xs-12
            p
                | nebo nám zavolejte na 
                strong +421 948 394 420
    //- .row
    //-     a.btn.btn-default.btn-higher(href='#', role='button') Kontakty
