.container-fluid.stripe-contact#section-06.cd-section
    .row
        .col-xs-12
            h2 Chcete se na něco zeptat?
    .row
        .col-xs-12.col-sm-4.col-sm-offset-2
            p
                | Pište na
                br
                strong
                    a(href='mailto:info@vrecka-vysavace.sk') info@vrecka-vysavace.sk
        .col-xs-12.col-sm-4
            p
                | nebo nám zavolejte na
                br
                strong +421 948 394 420
    .row
        a.btn.btn-default.btn-higher(href='#', role='button') Kontakty
