.container.bag
	.row
		h2 Prodáváme sáčky do vysavačů značky VACS
	.row
		img.vacs-stripe.img-responsive.reveal(src='img/vacs-logo-stripe.png', alt='VACS')
	.row.pois
		.col-xs-12.col-md-7.col-sm-8
			.bag-wrapper.reveal
				.circle
					a.poi.one
						i.icon-pic-magnify
					a.poi.two
						i.icon-pic-clock
					a.poi.three
						i.icon-pic-filter
					a.poi.four
						i.icon-pic-space
					a.poi.five
						i.icon-pic-join
					a.poi.six
						i.icon-pic-closing
		.col-xs-12.col-md-5.col-sm-4.poi-text
			.poi-text-one
				h4 PÉČE O VAŠE ZDRAVÍ
				p
					| Sáčky VACS jsou vyrobené z antibakteriální netkané textílie, která má 
					strong 5 filtračních vrstev
					|  a představuje špičkovou technologii pro ochranu vašeho zdraví.
			.poi-text-two
				h4 PRODLOUŽENA ŽIVOTNOST
				p
					| Sáčky VACS mají ve srovnání s papírovými sáčky 
					strong o 50 % delší živnostnost
					| . Šetříme Vaše peníze, protože nemusí vyměňovat sáčky tak často.
			.poi-text-three
				h4 ÚČINNĚJŠÍ FILTRACE
				p
					| Syntetická netkaná textílie 
					strong odfiltruje až 99 % částic
					|  o velikosti jeden mikron - to je až o 40% více oproti papírovému sáčku. Je to dáno skladbou stěny sáčků. Moderní netkané textilie se při výrobě sáčků pokládají ve vrstvách na sebe (sáčky VACS mají 5 vrstev), přičemž každá vrstva je specificky určená pro jinou funkci – od filtrace různých velikostí částic nečistot až po ochrannou funkci.
			.poi-text-four
				h4 LEPŠÍ VYUŽITÍ PROSTORU
				p
					| Sáčky VACS nemají skládání, na první pohled vypadají větší než jiné sáčky. Díky pružnosti netkané textilie se 
					strong sáček snadno přizpůsobí svému prostoru
					|  ve vysavači a pojme minimálně o 15 % více nečistot než papírový sáček.
			.poi-text-five
				h4 PEVNOST SPOJE
				p
					| Papírové sáčky mají lepené spoje, které jsou velice náchylné na poškození. Pokud není lepení kvalitní, může se sáček rozlepit a přestane plnit svou funkci. Nekvalitní papír navíc v místech ohybu může praskat. U sáčků z netkané textilie se jednotlivé díly sáčků se k sobě "taví" a mají podstatně vyšší pevnost.
			.poi-text-six
				h4 HYGIENICKÝ UZÁVĚR
				p
					| Zejména při výměně sáčku ve vysavači se může do vzduchu dostat jemný prach, který ohrožuje vaše zdraví. Hygienický uzávěr udrží prach přesně tam, kam patří – tedy v sáčku.
