.container-fluid.stripe-guarantee
	.row
		h2.special Nadstandardní garance
	.row.badge-100
		span.reveal 100 %
		| na vrácení zboží
	.row
		p
			| můžete vrátit zboží 
			strong do 3 měsíců od nákupu
			|  bez udání důvodu
		.star-divider
			span.glyphicon.glyphicon-star(aria-hidden='true')
			span.glyphicon.glyphicon-star(aria-hidden='true')
			span.glyphicon.glyphicon-star(aria-hidden='true')
			span.glyphicon.glyphicon-star(aria-hidden='true')
			span.glyphicon.glyphicon-star(aria-hidden='true')
		p
			| můžete vrátit i 
			strong rozbalené balení
			|  sáčků
		.star-divider
			span.glyphicon.glyphicon-star(aria-hidden='true')
			span.glyphicon.glyphicon-star(aria-hidden='true')
			span.glyphicon.glyphicon-star(aria-hidden='true')
			span.glyphicon.glyphicon-star(aria-hidden='true')
			span.glyphicon.glyphicon-star(aria-hidden='true')
		p
			| můžete vrátit balení i v případě, že 
			strong jeden sáček je použitý a chybí
