.container.stripe--products
    .row
        .col-xs-12
            h2 Naše produkty
    .row
        .col-xs-12
          .grid-container
            a.card.c01(href='#')
              .card__title Sáčky do vysavačů
              .card__image
                img.img-fluid(src='./img/product-c01.jpg', alt='Sáčky do vysavačů')
            a.card.c02(href='#')
              .card__title HEPA filtry
              .card__image
                img.img-fluid(src='./img/product-c02.jpg', alt='HEPA filtry')
            a.card.c03(href='#')
              .card__title Roušky
              .card__image
                img.img-fluid(src='./img/product-c03.jpg', alt='Roušky')
            a.card.c04(href='#')
              .card__title Motorové filtry
              .card__image
                img.img-fluid(src='./img/product-c04.jpg', alt='Motorové filtry')
            a.card.c05(href='#')
              .card__title Podlahové hubice a kartáče
              .card__image
                img.img-fluid(src='./img/product-c05.jpg', alt='Podlahové hubice a kartáče')
            a.card.c06(href='#')
              .card__title Vůně do vysavače
              .card__image
                img.img-fluid(src='./img/product-c06.jpg', alt='Vůně do vysavače')
            a.card.c07(href='#')
              .card__title Náhradní díly
              .card__image
                img.img-fluid(src='./img/product-c07.jpg', alt='Náhradní díly')
