.container-fluid.stripe-info
	.container
		.row
		.col-sm-12.bg-success
			h3.text-center Upozornění
			p.text-center
				| Vážení zákazníci, provoz e-shopu www.chci-vysavat.cz zůstává nepřerušen. Vaše objednávky i nadále přijímáme a odesíláme v běžném režimu, tj. předáváme dopravci nejpozději do 2-3 pracovních dnů. Od všech dopravců (Česká pošta, s.p. a Zásilkovna) máme aktuální informace, že doprava vašich objednávek probíhá rovněž bez jakýchkoliv změn. Podle aktuálního nařízení vlády mohou být výdejní místa Zásilkovny otevřena i na pobočkách v zavřených obchodech. Bude záležet na provozovateli konkrétního výdejního místa, zda zajistí výdej zboží. Platbu na výdejním místě lze provádět pouze bezkontaktně - tedy platební kartou. Výdejní místa Zásilkovny nepřijímají hotovost!!
				br
				br
				| Situace, v které se nyní ocitáme, mimo jiné prověří naši zodpovědnost vůči druhým lidem. 
				strong Opatrnost je namístě, panika nikoliv.
				|   Na základě dotazů našich zákazníků jsme pro vás připravili 
				strong
					a(href='https://chci-vysavat.cz/covid') nabídku materiálu (netkaná textilie) pro výrobu roušky.
				br
