.container.stripe-benefits#section-02.cd-section
    .row
        h2 Naše výhody
    .row
        .col-md-2.col-md-25.col-sm-4.col-xs-6
            .benefit
                .icon
                    i.icon-piggy
                h4 Množstevní slevy
                p
                    | Nabízíme výhodné balení s 
                    strong nejnižší cenou
                    |  za sáček
        .col-md-2.col-md-25.col-sm-4.col-xs-6
            .benefit
                .icon
                    i.icon-bags
                h4 Největší výběr
                p
                    | Zajistíme sáčky pro 
                    strong jakýkoliv model vysavače
        .col-md-2.col-md-25.col-sm-4.col-xs-6
            .benefit
                .icon
                    i.icon-transport
                h4 Doprava zdarma
                p
                    | U balení L a XL je 
                    strong doprava zdarma
        .col-md-2.col-md-25.col-md-offset-0.col-sm-4.col-sm-offset-2.col-xs-6
            .benefit
                .icon
                    i.icon-gift
                h4 Dárek k nákupu
                p
                    | U balení L a XL 
                    strong vůně do vysavače zdarma
        .col-md-2.col-md-25.col-sm-4.col-sm-offset-0.col-xs-6.col-xs-offset-3
            .benefit
                .icon
                    i.icon-clock
                h4 Expresní expedice
                p
                    | Vaši objednávku umíme vyexpedovat 
                    strong do 24 hodin
