.container-fluid.stripe-guarantee
	.row
		h2.special Garantujeme Vám,
	.row
		p
			| že všechny sáčky, které naleznete na e-shopu 
			a(href='www.porzsakok-szurok.hu') www.porzsakok-szurok.hu
			br
			|  (sáčky do více než 
			strong 15.000 modelů vysavačů
			| ) 
			strong máme na skladě
			|  a můžeme tak operativně uspokojovat
			br
			| rostoucí poptávku našich zákazníků.
		.star-divider
			span.glyphicon.glyphicon-star(aria-hidden='true')
			span.glyphicon.glyphicon-star(aria-hidden='true')
			span.glyphicon.glyphicon-star(aria-hidden='true')
			span.glyphicon.glyphicon-star(aria-hidden='true')
			span.glyphicon.glyphicon-star(aria-hidden='true')
