.container.stripe-brands.cd-section#s03
	.row
		.col-xs-12
			h2 Značky vysavačů
	.brands
		- for (var i = 0; i < 17; ++i) {
			a(href="#").brand
				img(src="img/dummy-brand-aeg.jpg")
				| AEG
		- }
		a(href="#").brand Další značky &raquo;
		
