.container-fluid.stripe-covid--small--pink
	.container
		.row
			.col-xs-12
				p.text-size-lg
					strong Látka pro výrobu roušek: 
					a(href="#") Materiál 1 (30 x 30 cm) 
					|  /  
					a(href="#") Materiál 2 (80 x 40 cm)
