.container.stripe-bag.cd-section#s04
	.row
		h2 Prodáváme sáčky do vysavačů značky VACS
	include ./stripe-bag-content.jade
	.row
		a.btn.btn-default.btn-higher(href='#', role='button') Více o sáčcích VAC
