/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1508099438043');
	src: url('iconfont.eot?#iefix-1508099438043') format('embedded-opentype'),
		url('iconfont.woff2?1508099438043') format('woff2'),
		url('iconfont.woff?1508099438043') format('woff'),
		url('iconfont.ttf?1508099438043') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.icon-badge:before {
	content: '\ea01';
}

.icon-bags:before {
	content: '\ea02';
}

.icon-bomb:before {
	content: '\ea03';
}

.icon-check:before {
	content: '\ea04';
}

.icon-check2:before {
	content: '\ea05';
}

.icon-checked:before {
	content: '\ea06';
}

.icon-clock:before {
	content: '\ea07';
}

.icon-euro:before {
	content: '\ea08';
}

.icon-gift:before {
	content: '\ea09';
}

.icon-heart:before {
	content: '\ea0a';
}

.icon-pic-clock:before {
	content: '\ea0b';
}

.icon-pic-closing:before {
	content: '\ea0c';
}

.icon-pic-filter:before {
	content: '\ea0d';
}

.icon-pic-join:before {
	content: '\ea0e';
}

.icon-pic-magnify:before {
	content: '\ea0f';
}

.icon-pic-space:before {
	content: '\ea10';
}

.icon-piggy:before {
	content: '\ea11';
}

.icon-plus:before {
	content: '\ea12';
}

.icon-star:before {
	content: '\ea13';
}

.icon-thumbs_up:before {
	content: '\ea14';
}

.icon-transport:before {
	content: '\ea15';
}