@import "item--cart";

.btn-close {
	float: right;
	// width: 30px;
	margin-top: 4px;
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	text-align: center;
	border-color: $gray-light;
	color: $gray-light;
	span.text {
		padding-left: 5px;
	}
	@media screen and (max-width: $screen-xs-max) {
		width: 30px;
		span.text {
			display: none;
		}
	}
}
.stepperRow {
	@media screen and (min-width: $screen-sm-min) {
		display: flex;
		// flex-direction: row;
		align-items: center;
		#slider {
			margin-top: 20px;
		}
	}
}
.cart,
.cart-resume {
	.item {

		p {
			margin: 0;
		}
	}
	label {
		font-weight: 500;
	}
	h3 {
		input {
			margin-top: 1px;
		}
	}
}
.btn-cart-back {
	padding-left: 0;
	padding-right: 0;
}
.stripe-buttons {
	p {
		text-align: center;
		margin-top: 5px;
		font-size: 12px;
	}
}

.resume-prices {
	div:last-child {
		margin-bottom: 10px;
	}
	div:nth-child(2n) {
		text-align: right;
	}
}
.cart-choices {
	.row.choice {
		margin-bottom: 10px;
	}
	.checkbox, .radio {
		margin: 0;
	}
	span {
		display: block;
		font-size: 12px;
	}
}
.find-butt {
	padding-top: 27px;
	@media (max-width: $screen-xs-max) {
		padding-top: 0;
	}
	.btn {
		height: 34px;
	}
}
// .cart-resume {
// 	.item {
// 		border-bottom: 1px dashed lighten($brand-success, 50%);
// 		ul {
// 			margin-left: 20px;
// 		}
// 	}
// }
.price {
	text-align: right;
}
.cart-price,
.info-icon {
	text-align: right;
	// float: right;
	font-weight: 700;
	color: $brand-success;
}
.info-icon {
	border-radius: 50%;
	background: $gray-lighter;
	width: 30px;
	height: 30px;
	// margin-left: 10px;
	// margin-top: -5px;
	line-height: 30px;
	display: block;
	// float: right;
	text-align: center;
}
i.glyphicon-info-sign {
	margin-left: 5px;
}
.col-xs-2.info-icon {
	width: 30px;
	padding: 0;
}

#cart-toggle-company,
#cart-toggle-another-address {
	display: none;
}

a.ajax {
	&:hover {
		text-decoration: none;
	}
}
