$black-new:					#000;

$black:						#000000;
$gray:                      #4d4d4d;
$gray-new:					#808080;
$gray-light:                #b3b3b3;
$gray-lighter:              #e6e6e6;
$gray-lightest:             #f7f7f7;
// $gray-dark:					#5D707E;

$gray-dark:					#0c0817;

$brand-violet:              #5736B9;
$brand-red:                 #FF585B;
$brand-blue:                #0089b0;
$light-blue:                #D9EEF3;



$brand-success:             $brand-blue;

$brand-primary:             $brand-red;
$brand-secondary:			$brand-blue;


$text-color:                $gray-dark;

// $font-family-open-sans:      "Open Sans", sans-serif;
$font-family-raleway:       Raleway, Arial, sans-serif;
// $font-family-special:        Sarina, "Open Sans", sans-serif;
$font-family-special:       $font-family-raleway;
$font-family-base:          $font-family-raleway;

$font-size-base:            14px;

$font-size-lg: $font-size-base * 1.42; // 20px
$font-size-md: $font-size-base; // 14px
$font-size-sm: $font-size-base; // 14px
// $font-size-sm: $font-size-base * .875; // 14px
$font-size-xs: $font-size-base * .9285; // 13px
$font-size-xxs: $font-size-base * .7857; // 11px
$font-size-xxxs: $font-size-base * .7142; // 10px


$font-size-nav:             ceil(($font-size-base)); // ~14px

$link-color:                $brand-secondary;

$border-radius-small:       2px;
$border-radius-base:        4px;
$border-radius-large:       6px;

$btn-default-bg:            transparent;
$btn-default-border:        $brand-secondary;

$navbar-margin-bottom:      0;
$navbar-default-border:     $gray-lighter;


$stripes-padding:           60px;

$shadow:                    0 2px 4px 0 rgba(12,0,51,0.10);


$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, .075);
$box-shadow: 0 0.5rem 1rem rgba($black, .15);
$box-shadow-lg: 0 1rem 3rem rgba($black, .175);
// $box-shadow-slider: 0 1rem 3rem rgba($black, .175);
$box-shadow-slider: 0 2px 4px 0 rgba($black, .4);


$transition-base-time_and_effect: 0.3s ease-in-out;
$transition-base: all 0.3s ease-in-out;
$transition-fade: opacity 0.15s linear !default;
$transition-collapse: height 0.35s ease !default;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
// $grid-float-breakpoint:     820px;
//** Point at which the navbar begins collapsing.
// $grid-float-breakpoint-max: ($grid-float-breakpoint - 1);
