#funny {
	display: flex;
}
.sr .reveal {
	visibility: hidden;
	perspective: 800px;
}
.btn {
	font-weight: 700;
	border-radius: 5px;
	&.back {
		@extend .btn;
		background: $gray;
		color: white;
		font-weight: 500;
		.glyphicon {
			margin-right: 10px;
		}
	}
}
.btn-default {
	color: $brand-secondary;
}
.btn-higher {
	height: 50px;
	line-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
}
.btn-high {
	height: 45px;
	line-height: 45px;
	padding-top: 0;
	padding-bottom: 0;
}
.btn-group {
	.btn {
		height: 40px;
		line-height: 40px;
		min-width: 40px;
	}
}
input[type="email"],
input[type="number"],
input[type="text"] {}
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
	width: 24px;
	height: 24px;
	margin-left: -30px;
	margin-top: -3px;
}
.checkbox label,
.radio label {
	padding-left: 30px;
}
hr {
	// margin: 15px -15px;
	padding: 0 !important;
}
.container {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $gray-lighter;
	@media screen and (max-width: $screen-xs-max) {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

nav .container {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border: 0 !important;
}
.breadcrumb {
	border-bottom: 1px solid $gray-lighter;
	background: none;
	font-size: 12px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	display: inline-block;
}
ul.simple {
	list-style: none;
	padding: 0;
	margin: 0;
}
.readmore {
	@media screen and (max-width: $screen-xs-max) {
		max-height: 6em;
	}
}
@media (min-width: 768px) {
	.form-horizontal .control-label {
		text-align: left;
	}
}
ul.list-links {
	width: 100%;
	column-count: 5;
	@media screen and (max-width: $screen-xs-max) {
		column-count: 3;
	}
	li {
		list-style: none;
		list-style-position: inside;
		text-align: left;
		display: inline-block \9;
		width: 20% \9;
		padding: 10px 0;
		a {
			display: inline-block;
			width: 100%;
			// text-decoration: underline;
			font-size: 14px;
			font-weight: 700;
			// padding: 10px 0;
			&:hover {
				// background: $gray-lighter;
				// color: white;
				text-decoration: none;
			}
		}
	}
}
ul.list-models {
	column-count: 1;
	padding-left: 0;
	padding-bottom: $stripes-padding/4;
	@media screen and (max-width: $screen-xs-max) {
		column-count: 1;
	}
	li {
		margin-bottom: 4px;
		padding: 0;
		a {
			display: flex;
			background: $gray-lightest;
			transition: all 0.5s;
			align-items: center;
			&:hover {
				background: $gray-lighter;
				// color: white;
				text-decoration: none;
			}
			img {
				border: 1px solid $gray-lightest;
				width: 100px;
				height: 50px;
			}
			strong {
				padding: 0 20px;
				text-align: left;
				width: 100%;
			}
		}
	}
}
ul.list-brands {
	// column-count: 3;
	// padding-left: 0;
	padding: 10px 0 $stripes-padding/4;
	// @media screen and (max-width: $screen-xs-max) {
	// 	column-count: 2;
	// }
}
.prices-after,
.prices-before,
.resume-bonuses {
	h4 {
		margin: 0;
	}
	text-align: right;
}
@media screen and (max-width: $screen-xs-max) {
	.prices-before {
		text-align: left;
	}
}
.same-height {
	@media (min-width: $screen-sm-min) {
		display: flex;
		align-items: stretch;
		.info-block {
			display: flex;
			align-items: center;
			align-content: center;
			text-align: center;
			// flex-direction: column;
		}
	}
	.info-block {
		.badge-100 {
			width: 100%;
			// padding-top: 60px;
			text-align: center;
			margin: 60px auto;
			color: white;
		}
	}
}
.clear {
	clear: both;
	display: block;
	content: " ";
}

.container.center {
	text-align: center;
}

@media screen and (min-width: $screen-sm) {
	.container.center-vert > .row {
		display: flex;
		align-items: center;
	}
}

.visible-xs {
	display: block !important;
}
@media screen and (min-width: $screen-sm) {
	.visible-xs {
		display: none !important;
	}
}
