#funny {
	display: flex;
}
.sr .reveal {
	visibility: hidden;
	perspective: 800px;
}
.btn {
	font-weight: 700;
	&.back {
		@extend .btn;
		background: $gray;
		color: white;
		font-weight: 500;
		.glyphicon {
			margin-right: 10px;
		}
	}
}
.btn-default {
	color: $brand-success;
}
.btn-higher {
	height: 50px;
	line-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
}
.btn-high {
	height: 45px;
	line-height: 45px;
	padding-top: 0;
	padding-bottom: 0;
}
.btn-active {
	border-color: transparent;
	color: $black;
	&:hover {
		// border-color: transparent;
	}
}

.btn-group {
	span {
		line-height: 30px;
	}
}
// .btn-group {
// 	.btn {
// 		height: 40px;
// 		line-height: 40px;
// 		min-width: 40px;
// 	}
// }


form {
	.input-group {
		// width: inherit !important;
		display: inline-table;
	}
	input {
		// width: inherit !important;
	}
}


input[type="email"],
input[type="number"],
input[type="text"] {}

input[type=checkbox]:checked {
	background: red;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
	width: 20px !important;
	height: 20px !important;
	// transform: scale(1.1);
	margin-left: -30px;
	margin-top: -3px;
	&:checked {
		background: $brand-primary;
	}
}
label input[type="radio"]:checked {
	font-weight: bold;
}
label {
	span {
		padding-left: 5px;
		opacity: 0.6;
	}
}
.checkbox label,
.radio label {
	padding-left: 30px;
}
hr {
	// margin: 15px -15px;
	padding: 0 !important;
}
.container {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $gray-lighter;
	@media screen and (max-width: $screen-xs-max) {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

nav .container {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border: 0 !important;
}
.breadcrumb {
	border-bottom: 1px solid $gray-lighter;
	background: none;
	font-size: 12px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	display: inline-block;
}
ul.simple {
	list-style: none;
	padding: 0;
	margin: 0;
}
.readmore {
	@media screen and (max-width: $screen-xs-max) {
		max-height: 6em;
	}
}
.readmoreModels {
	// height: 20px;
	max-height: 20px;
	overflow: hidden;
	margin-bottom: 0;
	@media screen and (max-width: $screen-xs-max) {
		// max-height: 40px;
	}
}
@media (min-width: 768px) {
	.form-horizontal .control-label {
		text-align: left;
	}
}




.benefits-models {
	margin-top: -36px;
	@media screen and (max-width: $screen-xs-max) {
		margin-top: 0;
		margin-bottom: 16px;
	}
}

.benefits-small {
	display: flex;
	flex-direction: row;
	height: 75px;
	margin-bottom: 15px;
	// align-items: center;

}
.benefits-small__card {
	display: inline-block;
	cursor: pointer;
	opacity: 0.3;
	text-decoration: none !important;
	text-align: center;
	width: calc(100% / 6);
	margin-top: -5px;
	&:hover {
		opacity: 1.0;
	}
	.benefits-small__icon {
		color: $brand-success;
		i {
			font-size: 35px;
		}
	}
	.benefits-small__title {
		font-size: 11px;
		font-weight: 700;
		line-height: 14px;
		@media screen and (max-width: $screen-xs) {
			text-transform: lowercase;
			font-size: 10px;
		}
	}
}

.benefits-small.benefits-small--search {
	height: 48px;
	margin-bottom: 24px;
	display: flex;
	flex-wrap: wrap;
	@media screen and (max-width: $screen-sm) {
		height: 80px;	
	}
}
.benefits-small--search .benefits-small__card {
	// cursor: pointer;
	opacity: 1;
	text-align: left;
	width: auto;
	max-width: calc(100% / 6);
	display: flex;
	align-items: center;
	margin-top: 0;
	margin-right: 24px;

	@media screen and (max-width: $screen-sm) {
		width: calc(100% / 3 - 24px);
		max-width: none;
		margin-bottom: 24px;
	}
	.benefits-small__icon {
		height: 48px;
		margin-right: 8px;
		margin-top: -10px;
		i {
			font-size: 48px;
			line-height: 48px;
		}
	}
	&:hover {
		.benefits-small__icon {
			color: $black;
		}
	}
	.benefits-small__title {
		font-size: 13px;
		line-height: 16px;
		color: $black;
		@media screen and (max-width: $screen-sm) {
			font-size: 10px;
			line-height: 13px;
		}
	}
}

.two-links {
	display: flex;
	flex-direction: row;
	@media screen and (max-width: $screen-xs-max) {
		flex-direction: column;
	}
}
	.two-links__link {
		width: 50%;
		@media screen and (max-width: $screen-xs-max) {
			width: 100%;
		}
	}

.list-models--wrapper {
	h4 {
		padding-left: 85px;
	}
}
h4.arrow01 {
	@media screen and (max-width: $screen-xs-max) {
		display: none;
	}
}

.backToSearch {
	margin-bottom: 16px;
	display: flex;
	justify-content: flex-start;
	@media (max-width: $screen-md) {
		justify-content: center;
	}
}
.pagination {
	// margin-bottom: 16px;
	display: flex;
	justify-content: flex-end;
	@media (max-width: $screen-md) {
		justify-content: center;
	}
}
.loadMore {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	margin-bottom: 40px;
}


.results__header {
	padding: 10px 0 20px 0;
	h3 {
		margin-top: 5px;
	}
}



ul.list-links {
	width: 100%;
	column-count: 5;
	@media screen and (max-width: $screen-xs-max) {
		column-count: 3;
	}
	li {
		list-style: none;
		list-style-position: inside;
		text-align: left;
		display: inline-block \9;
		width: 20% \9;
		padding: 10px 0;
		a {
			display: inline-block;
			width: 100%;
			// text-decoration: underline;
			font-size: 14px;
			font-weight: 700;
			// padding: 10px 0;
			&:hover {
				// background: $gray-lighter;
				// color: white;
				text-decoration: none;
			}
		}
	}
}
ul.list-models {
	column-count: 1;
	padding-left: 0;
	padding-bottom: $stripes-padding/4;
	@media screen and (max-width: $screen-xs-max) {
		column-count: 1;
	}
	li {
		margin-bottom: 4px;
		padding: 0;
		a {
			display: flex;
			background: $gray-lightest;
			transition: all 0.5s;
			align-items: center;
			&:hover {
				background: $gray-lighter;
				// color: white;
				text-decoration: none;
			}
			img {
				border: 1px solid $gray-lightest;
				width: 100px;
				height: 50px;
			}
			strong {
				padding: 0 20px;
				text-align: left;
				width: 100%;
			}
		}
	}
}
ul.list-models--columns,
ul.list-brands--columns {
	padding-left: 0;
	padding-bottom: $stripes-padding/4;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	// justify-content: space-between;
	justify-content: flex-start;
	margin-left: -8px;
	margin-right: -8px;
	li {
		margin: 8px;
		padding: 0;
		width: calc((100%/3) - 16px);
		// min-height: 80px;
		@media (max-width: $screen-lg) {
			width: calc((100%/2) - 16px);
		}
		@media (max-width: $screen-md) {
			// width: calc((100%/2) - 16px);
			width: 100%;
		}
		// @media (max-width: $screen-xs) {
		// 	width: 100%;
		// }
		a {
			display: flex;
			// background: $gray-lightest;
			border: 1px solid $gray-lighter;
			border-radius: 2px;
			transition: all 0.5s;
			align-items: center;
			padding: 2px 8px 2px 2px;
			img {
				// border: 1px solid $gray-lightest;
				width: 100px;
				// height: 75px;
				// max-width: 100%;
				// height: auto;
				// !!!
				object-fit: contain;
				// object-position: 0 0;
				@media (max-width: $screen-xs) {
					width: 75px;
				}
			}
			strong {
				padding: 0 16px;
				text-align: left;
				width: 100%;
			}
			.item__info {
				font-size: 10px;
				text-align: left;
				color: $gray;
				transition: all 0.5s;
				span {
					display: block;
					font-weight: 700;
				}
			}
			&:hover {
				border: 1px solid $gray-light;
				// color: white;
				text-decoration: none;
				.item__info {
					color: $black;
				}
			}
		}
	}
}
ul.list-brands--columns {
	li {
		a {
			img {
				width: 200px;
				height: 100px;
			}
		}
	}
}
ul.list-brands {
	padding: 10px 0 $stripes-padding/4;
}

ul.list-models--columns--simple {
	display: block;
	column-count: 2;
	@media (max-width: $screen-md) {
		column-count: 1;
	}
	li {
		break-inside: avoid-column;
		page-break-inside: avoid;
		width: 100%;
		margin: 0 0 8px 0;
		a {
			padding: 8px 8px 8px 2px;	
		}
	}
	.item__info {
		min-width: 100px;
		// display: flex;
		// flex-direction: column;
		// justify-content: flex-end;
		span {
			text-align: right;
		}
		@media (min-width: $screen-sm-min) {
			min-width: 160px;
			span {
				display: inline !important;
				margin-right: 8px;
			}
		}
	}
}





.goods {
	display: flex;
	align-items: flex-start;
	border-top: 1px solid $gray-lighter;
	padding: 20px 0;
	// margin-top: 20px;
	&:first-child {
		border-top: none;
	}
}
.goods__image {
	max-width: 200px;
	object-fit: contain;
	border-radius: 4px;
	@media (max-width: $screen-xs-max) {
		max-width: 100px;
		max-height: 100px;
	}
}
.goods__side {
	// width: calc(66% - 200px + 2px);
	@media (max-width: $screen-md) {
		width: 100%;	
	}
}







.prices-after,
.prices-before,
.resume-bonuses {
	h4 {
		margin: 0;
	}
	text-align: right;
}
@media screen and (max-width: $screen-xs-max) {
	.prices-before {
		text-align: left;
	}
}
.same-height {
	@media (min-width: $screen-sm-min) {
		display: flex;
		align-items: stretch;
		.info-block {
			display: flex;
			align-items: center;
			align-content: center;
			text-align: center;
			// flex-direction: column;
		}
	}
	.info-block {
		.badge-100 {
			width: 100%;
			// padding-top: 60px;
			text-align: center;
			margin: 60px auto;
			color: white;
		}
	}
}
.clear {
	clear: both;
	display: block;
	content: " ";
}

.container.center {
	text-align: center;
}

@media screen and (min-width: $screen-sm) {
	.container.center-vert > .row {
		display: flex;
		align-items: center;
	}
}

.visible-xs {
	display: block !important;
}
@media screen and (min-width: $screen-sm) {
	.visible-xs {
		display: none !important;
	}
}

.hidden-xs {
	line-height: inherit !important;
	@media screen and (max-width: $screen-xs) {
		display: none !important;
	}
}


.help-block.text-danger {
	color: $brand-primary;
}

// .sideThings {
// 	position: fixed;
// 	right: 0;
// 	@include center(y); // see partials > _mixins.scss
// 	// display: flex;
// 	// justify-content: flex-end;
// 	// flex-direction: column;
// }

.heureka {
	right: 0;
	position: fixed;
	top: 50%;
	margin-top: -240px;
	// z-index: 10;
	// z-index: -1;
	@media screen and (max-width: $screen-sm) {
		display: none;
	}
}

.ribbon {
    --p: 15px;
    background-color: $brand-secondary;
	color: white;
	font-weight: 700;
    display: inline-block;
    // height: 60px;
    margin-bottom: 10px;
    // margin-top: 20px;
    padding: var(--p) calc(var(--p)*2);
    position: relative;
    right: calc(var(--p)*2);
    text-align: center;
	box-shadow: 4px 5px 11px 1px rgba(0,0,0,0.28);
    // width: 100%;
}

.ribbon:before {
    background-color: inherit;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: calc(var(--p)/2);
    width: var(--p);
    filter: brightness(.8);
    z-index: -1;
}

.ribbon:before {
    left: 0;
	top: 4px;
    transform: skewy(30deg);
}


.border-bottom-2 {
	border-bottom: 2px solid $gray-lighter;
}

// .ribbon:after {
//     right: 0;
//     transform: skewy(-45deg);
// }
