$black-new:                #000;

$gray:                       #2a2a2a;
$gray-new:					#808080;
$gray-light:                 #b3b3b3;
$gray-lighter:               #e6e6e6;
$gray-lightest:              #f7f7f7;

$brand-primary:              #18823a;
$brand-secondary:            #0089b0;
$brand-success:              #0089b0;
$brand-red:                  #b5143b;

// Palette 01
// $brand-primary:              #CA6657;
// $brand-success:              #DAA03D;

// Palette 02
// $brand-primary:              #9E3744;
// $brand-success:              #DE4D44;

// Palette 03
// $brand-primary:              #2E5D9F;
// $brand-success:              #C83E74;

// Palette 04
// $brand-primary:              #755841;
// $brand-success:              #7D944C;

// Palette 05
// $brand-primary:              lighten(#2E5D9F,10);
// $brand-success:              darken(#D7C49E, 20);

// Palette 06
// $brand-primary:              #638CA8;
// $brand-success:              darken(#A6DBE1,20);

// Palette 07
// $brand-primary:              darken(#E26141,5);
// $brand-success:              lighten(#E26141,10);

// Palette 08
// $brand-primary:              #bd1b5a;
// $brand-success:              lighten(#bd1b5a,20);

$text-color:                 $gray;

$font-family-open-sans:      "Open Sans", sans-serif;
$font-family-special:        Sarina, "Open Sans", sans-serif;
$font-family-base:           $font-family-open-sans;

$font-size-base:             14px;
$font-size-nav:              ceil(($font-size-base)); // ~14px

$link-color:                 $brand-success;

$border-radius-base:         0;
$border-radius-large:        0;
$border-radius-small:        0;

$btn-default-bg:             transparent;
$btn-default-border:         $brand-success;

$navbar-margin-bottom:       0;
$navbar-default-border:      $gray-lighter;


$stripes-padding:            60px;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
// $grid-float-breakpoint:     820px;
//** Point at which the navbar begins collapsing.
// $grid-float-breakpoint-max: ($grid-float-breakpoint - 1);
