$black:						#000000;
$gray:                      #4d4d4d;
$gray-light:                #b3b3b3;
$gray-lighter:              #e6e6e6;
$gray-lightest:             #f7f7f7;
$gray-dark:					#5D707E;

$brand-primary:             #18823a;
// $brand-primary:             #FF585B;
$brand-secondary:			#0089b0;
$brand-success:             #0089b0;
$brand-red:                 #FF585B;

$text-color:                $gray-dark;

$font-family-open-sans:     "Open Sans", sans-serif;
// $font-family-raleway:       Raleway, Arial, sans-serif;
$font-family-special:       Sarina, "Open Sans", sans-serif;
// $font-family-special:       $font-family-raleway;
$font-family-base:          $font-family-open-sans;

$font-size-base:             14px;
$font-size-nav:              ceil(($font-size-base)); // ~14px

$link-color:                 $brand-success;

$border-radius-base:         0;
$border-radius-large:        0;
$border-radius-small:        0;

$btn-default-bg:             transparent;
$btn-default-border:         $brand-success;

$navbar-margin-bottom:       0;
$navbar-default-border:      $gray-lighter;


$stripes-padding:            60px;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
// $grid-float-breakpoint:     820px;
//** Point at which the navbar begins collapsing.
// $grid-float-breakpoint-max: ($grid-float-breakpoint - 1);
