.sliderWrapper {
	h4 {
		@media screen and (max-width: $screen-xs-max) {
			text-align: center;
		}
	}
}
.heureka-offer {
	display: flex;
	align-items: center;
	strong {
		padding-top: 5px;
	}
	.heureka-logo {
		width: 100%;
		max-width: 150px;
	}
}
.cartButtons {
	.row {
		-js-display: flex;
		display: flex;
		align-items: center;
		@media screen and (max-width: $screen-xs-max) {
			display: block;
			text-align: center;
		}
	}
	span {
		display: inline-block;
		padding: 5px 10px;
		@media screen and (max-width: $screen-xs-max) {
			display: block;
			text-align: center;
			&:nth-child(1) {
				margin: 15px 0;
			}
		}
	}
}
.discounts {
	margin-top: 18px;
	@media screen and (max-width: $screen-sm) {
		display: flex;
		align-items: center;
		&>div {
			padding: 0;
		}
	}
	.prices-before, .prices-after, .prices-sale {
		// text-transform: uppercase;
		text-align: center;
		font-size: 11px;
	}
	.prices-before {
		strong {
			text-decoration: line-through;
		}
	}
	strong {
		color: $brand-primary;
		font-size: 16px;
	}
	.prices-sale {
		@media screen and (min-width: $screen-sm) {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.badge-sale {
			padding: 7px 6px;
			width: auto;
			height: 60px;
			border: 2px solid $brand-primary;
			// background: $brand-primary;
			border-radius: 12px;
			display: inline-block;
			// color: white;
			text-transform: none;
			strong {
				display: block;
				// color: white;
				// font-size: 10px;
			}
		}
	}
}

.gallery {
	a {
		padding: 0;
		margin-bottom: 10px;
		&:nth-child(n+2) {
			max-width: 160px;
			// margin-right: 10px;
			@media screen and (max-width: 560px) {
				max-width: none;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
}


.recommendation {
	.item {
		display: flex;
		margin-bottom: 30px;
		img {
			height: 60px;
			width: 60px;
			border: 1px solid $gray-lighter;
			margin: 10px 10px 0 0;
		}
	}
}
.main.hq {
	.recommendation {
		img {
			width: 120px;
			height: 120px;
		}
	}
}
