.main.detail {
	.container:nth-of-type(1) {
		border-bottom: none;
		padding-bottom: 0;
	}
	.sliderWrapper {
		&>.container {
			// border-bottom: none;
			padding-top: 0;
		}
	}
}
.sliderWrapper {
	h4 {
		@media screen and (max-width: $screen-xs-max) {
			text-align: center;
		}
	}
}
.heureka-offer {
	display: flex;
	align-items: center;
	// padding-left: 20px;
	strong {
		// padding-top: 5px;
		font-size: 14px;
	}
	.heureka-logo {
		width: 100%;
		max-width: 100px;
	}
}
.cartButtons {
	.row {
		text-align: center;
		display: flex;
		align-items: center;
		a.btn {
			padding-left: 40px;
			padding-right: 40px;
			i {
				font-size: 24px;
				margin-left: 7px;
			}
		}
		@media screen and (max-width: $screen-xs-max) {
			display: block;
			text-align: center;
		}
	}
	span {
		display: inline-block;
		padding: 5px 10px;
		@media screen and (max-width: $screen-xs-max) {
			display: block;
			text-align: center;
			&:nth-child(1) {
				margin: 15px 0;
			}
		}
	}
}
.discounts {
	margin-top: 12px;
	color: $brand-primary;
	@media screen and (max-width: $screen-sm) {
		// margin-top: 0;
		display: flex;
		align-items: center;
		&>div {
			padding: 0;
		}
	}
	@media screen and (max-width: $screen-sm) {
		top: -30px;
	}
	.summary {
		text-align: center;
		font-size: 13px;
		line-height: 16px;
		// margin-top: 20px;
		.sum-item {
			opacity: 0.3;
			// color: black;
			&.active {
				opacity: 1;
			}
		}
		.item {
			margin-bottom: 10px;
			white-space: nowrap;
			span {
				display: block;
				font-weight: bold;
				font-size: 14px;
				white-space: nowrap;
				.icon-check2 {
					color: $brand-secondary;
					font-size: 19px;
					margin-right: 4px;
				}
			}
		}
		.price {
			text-align: center;
			width: 151px;
			height: 85px;
			margin-left: auto;
			margin-right: auto;
			padding-top: 30px;
			background: url("../img/circle/circle.png");
			background: url("../img/circle/circle.svg");
			background-repeat: no-repeat;
			span {
				font-size: 24px;
				color: $brand-primary;
			}
		}
	}
	// strong {
	// 	color: $brand-primary;
	// 	font-size: 18px;
	// }
	// .prices-sale {
	// 	@media screen and (min-width: $screen-sm) {
	// 		margin-top: 10px;
	// 		margin-bottom: 10px;
	// 	}
	// 	.badge-sale {
	// 		padding: 7px 6px;
	// 		width: auto;
	// 		height: 60px;
	// 		// border: 2px solid $brand-red;
	// 		background: $brand-primary;
	// 		border-radius: 12px;
	// 		display: inline-block;
	// 		color: white;
	// 		text-transform: none;
	// 		strong {
	// 			display: block;
	// 			color: white;
	// 			// font-size: 10px;
	// 		}
	// 	}
	// }
}

.gallery {
	a {
		padding: 0;
		margin-bottom: 10px;
		&:nth-child(n+2) {
			// max-width: 160px;
			// margin-right: 10px;
			@media screen and (max-width: 560px) {
				max-width: none;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
}


.recommendation {
	text-align: left;
	@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		.row > div {
			clear: both;
		}
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		.row > div:nth-child(2n+1) {
			clear: both;
		}
	}
	@media (min-width: $screen-md-min) {
		.row > div:nth-child(3n+1) {
			clear: both;
		}
	}
	.item {
		display: flex;
		margin-bottom: 30px;
		img {
			// height: 60px;
			width: 60px;
			border: 1px solid $gray-lighter;
			margin: 10px 10px 0 0;
			align-self: flex-start;
		}
	}
}
.main.hq {
	.recommendation {
		img {
			width: 120px;
			height: 120px;
		}
	}
}
