.sliderWrapper {
	h4 {
		@media screen and (max-width: $screen-xs-max) {
			text-align: center;
		}
	}
}
.cartButtons {
	.row {
		-js-display: flex;
		display: flex;
		align-items: center;
		@media screen and (max-width: $screen-xs-max) {
			display: block;
			text-align: center;
		}
	}
	span {
		display: inline-block;
		padding: 5px 10px;
		@media screen and (max-width: $screen-xs-max) {
			display: block;
			text-align: center;
			&:nth-child(1) {
				margin: 15px 0;
			}
		}
	}
}
.discounts {
	margin-top: 18px;
	.prices-before, .prices-after, .prices-sale {
		text-transform: uppercase;
		text-align: center;
		font-size: 12px;
	}
	strong {
		color: $brand-primary;
		font-size: 18px;
	}
	.prices-sale {
		margin-top: 10px;
		margin-bottom: 10px;
		.badge-sale {
			padding: 7px 10px;
			width: auto;
			height: 60px;
			// border: 2px solid $brand-red;
			background: $brand-primary;
			border-radius: 12px;
			display: inline-block;
			color: white;
			text-transform: none;
			strong {
				display: block;
				color: white;
			}
		}
	}
}

.gallery {
	a {
		padding: 0;
		margin-bottom: 10px;
		&:nth-child(n+2) {
			max-width: 160px;
			// margin-right: 10px;
			@media screen and (max-width: 560px) {
				max-width: none;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
