@font-face {
    font-family: 'hand_of_seanregular';
    src: url('../fonts/handsean/handsean-webfont.woff2') format('woff2'),
         url('../fonts/handsean/handsean-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
