footer {
	min-height: 50px;
	background: $gray;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $gray-lighter;
	.container {
		border: none;
		.row {
			@media (max-width: $screen-xs-max) {
				&>div {
					margin-bottom: 10px;
					text-align: center;
				}
			}
		}
	}
	a {
		color: $gray-lighter;
		&:hover {
			color: $gray-lighter;
		}
	}
}
