footer {
	min-height: 50px;
	background: $gray;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $gray-lighter;
	.container {
		border: none;
		padding-bottom: 20px !important;
		.row {
			@media (max-width: $screen-xs-max) {
				&>div {
					margin-bottom: 10px;
					text-align: center;
				}
			}
		}
	}
	a {
		color: $gray-lighter;
		&:hover {
			color: $gray-lighter;
		}
	}
}

.eu-cookies {
	position: fixed;
	bottom: 0;
    left: 0;
    right: 0;
	z-index: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
	text-align: center;
}
