.main.cart .item,
.main.cart-resume .item,
.item--cart--dropdown {
	display: flex;
	align-items: center;
}
.item--cart {
	align-items: flex-start !important;
}
	.item__content {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		width: 100%;
		@media (max-width: $screen-sm-max) {
			flex-wrap: wrap;

		}
	}
.main.cart-resume {
	.item--cart {
		padding: 20px 0;
	}
}


.item__image {
	border: 1px solid $gray-lightest;
	background: white;
	width: 64px;
	height: 43px;
	@media (min-width: $screen-md-min) {
		width: 100px;
		height: 67px;
	}
}

.item__name {
	padding: 0 10px;
	.item__image__uni {
	    width: 50px;
	    height: 34px;
		margin: 0 5px;
	}
	span {
		margin: 0 5px;
	}
	a {
		color: $black-new;
	}
	@media (max-width: $screen-sm-max) {
		flex: 1 0 100%;
		// background: red;
	}
}

.item__benefit {
	color: $brand-secondary;
}
.item__stepper {
	margin-left: auto;
	@media (max-width: $screen-xs-min) {
		// width: 100%;
	}
	.stepper {
		@media (max-width: $screen-xs-max) {
			// justify-content: flex-end !important;
			// margin: 10px 0 !important;
		}
		#stepperMinus,
		#stepperPlus {
			// width: 32px !important;
			// height: 32px !important;
			// font-size: 12px !important;
			// line-height: 32px !important;
			// background: $gray;
		}
		#stepperMinus {
			border-radius: 2px 0 0 2px;
		}
		#stepperPlus {
			border-radius: 0 2px 2px 0;
		}
		#sliderInput {
			// width: 32px !important;
			// height: 32px !important;
			// font-size: 14px !important;
			// border: 1px solid $gray;
		}
		.item__stepper__label {
			font-size: 12px;
			padding: 0 5px;
			@media (max-width: $screen-sm-max) {
				display: none;
			}
		}
	}
}

.item--cart {
	.item__stepper {
		margin-left: inherit;
		.stepper {
			margin-top: 0;
		}
	}
}

.item--additional {
	margin-left: 110px;
	@media (max-width: $screen-sm-max) {
		margin-left: 70px;
	}
}

.item__price {
	// font-weight: bold;
	font-size: 14px;
	text-align: right;
	// margin-left: auto;
	padding: 0 15px 0 30px;
	@media (max-width: $screen-sm-max) {
		flex: 1 0 auto;
		padding: 0 10px;
	}
}

	.item__price--piece {
		// margin-left: auto;
		@media (max-width: $screen-sm-max) {
			// text-align: left;
		}
	}
	.item__price__small {
		font-weight: normal;
		font-size: 12px;
	}
	.item__price--total {
		color: $black-new;
		padding-right: 0;
		@media (max-width: $screen-md-max) {
			flex: 0 0 auto;
		}
	}

.item__remove {
	a {
		color: $black-new;
	}

}
.item__remove--cart {
	// position: relative;
	// top: 9px;
	width: 100px;
	a {
		white-space: nowrap;
		color: $black-new;
	}
	margin-left: auto;
	span.text {
		margin-left: 3px;
	}
	@media (max-width: $screen-sm-max) {
		flex: 1 0 100%;
		margin-left: 8px;
	}
}
