.navbar {
	background: white;
	background: rgba(255,255,255,0.5);
	border-bottom: none;
	transition: all 0.3s linear;
	&.fixed {
		box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
		background: white;
		transition: background 0.6s linear;
		transition: box-shadow 0.8s linear;
	}
	.navbar-brand {
<<<<<<< HEAD
		color: $brand-primary;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.1em;
=======
		color: $brand-success;
		font-size: 16px;
		font-weight: 700;
		// text-transform: uppercase;
		// letter-spacing: 0.1em;
>>>>>>> master
	}
	.navbar-nav {
		li {
			a {
				font-size: $font-size-nav;
				color: $gray-base;
				i {
					font-size: 16px;
				}
				&.cart {
					font-weight: 700;
					i {
						margin: 0 3px;
					}
				}
				.badge {
					margin-left: 3px;
				}
			}
			&:hover {
				// color: white !important;
				background: $gray-lighter;
			}
			&.active {
				a {
					background: $brand-secondary;
					color: white;
				}
			}
		}
	}
	.cart {
		li {
			@media (max-width: $screen-xs-max) {
				margin-right: 20px;
			}
		}
	}
	.navbar-collapse {
		// text-align: center;
	}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.navbar .navbar-nav li a {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 12px !important;
	}
}
body {
	padding-top: $navbar-height;
	.main.home {
		margin-top: -50px;
	}
}
