$sliderButtSize: 50px;
$buttonRadius: 5px;

.sliderBenefits {
	min-height: 180px;
	margin: 0 20px;
	@media screen and (max-width: $screen-sm-max) {
		min-height: 270px;
	}
	.allBenefits {
		position: absolute;
		display: flex;
		flex-direction: column;
		// opacity: 0.4;
		&:nth-child(4){
			// opacity: 1.0;
		}
		.benefit {
			width: 120px;
			margin-bottom: 10px;
			text-align: left;
			display: flex;
			align-items: center;
			@media screen and (max-width: $screen-sm-max) {
				width: 50px;
				flex-direction: column;
				text-align: center;
			}
			.icon {
				border-radius: 50%;
				text-align: center;
				background: lighten($brand-secondary, 60);
				width: 50px;
				height: 50px;
				i {
					color: $brand-secondary;
					font-size: 36px;
				}
			}
			.text {
				width: 70px;
				color: $brand-secondary;
				font-size: 12px;
				padding-left: 6px;
				@media screen and (max-width: $screen-sm-max) {
					font-size: 11px;
					color: $gray;
				}
				span {
					display: block;
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
					@media screen and (max-width: $screen-sm-max) {
						font-size: 11px;
					}
				}
			}
		}
		&:nth-child(1) {
			left: calc(0% + 10px);
		}
		&:nth-child(2) {
			left: calc(33% - 13px);
		}
		&:nth-child(3) {
			left: calc(66% - 36px);
		}
		&:nth-child(4) {
			left: calc(100% - 60px);
		}
		@media screen and (min-width: $screen-sm-min) {
		}
		@media screen and (min-width: $screen-md-min) {
		}
	}
}
#slider {
	margin: 34px 20px 60px;
	background: $brand-secondary;
	// background: lighten($brand-secondary, 10);
	height: 15px;
	box-shadow: none;
	border: 0;
	.noUi-value {
		top: 20px;
		font-weight: 700;
		color: $gray;
		&:last-child {
			width: 60px;
		}
	}
	.noUi-handle {
		width: $sliderButtSize;
		height: $sliderButtSize;
		left: -25px;
		top: -19px;
		background: $brand-secondary;
		border-radius: $buttonRadius;
		border: 0;
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
		cursor: pointer;
		transition: box-shadow 0.5s;
		&:hover {
			background: lighten($brand-secondary,4);
			box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
		}
		&::before {
			height: 20px;
			width: 2px;
			left: 20px;
			top: 15px;
			background: darken($brand-primary, 10);
		}
		&::after {
			height: 20px;
			width: 2px;
			left: 26px;
			top: 15px;
			background: darken($brand-primary, 10);
		}
	}
}
.noUi-background {
	// background: $gray-lighter !important;
	background: lighten($brand-secondary, 60) !important;
}
.stepper {
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (max-width: $screen-xs-max) {
		margin-top: 15px;
	}
	#stepperMinus, #stepperPlus {
		width: $sliderButtSize;
		height: $sliderButtSize;
		background: $brand-primary;
		cursor: pointer;
		color: white;
		font-weight: 700;
		font-size: 20px;
		text-align: center;
		line-height: $sliderButtSize;
		&:hover {
			background: darken($brand-primary, 10);
		}
	}
	#stepperMinus {
		border-radius: $buttonRadius 0 0 $buttonRadius;
		// line-height: 45px;
	}
	#stepperPlus {
		border-radius: 0 $buttonRadius $buttonRadius 0;
	}
	#sliderInput {
		width: 80px;
		height: 80px;
		border: 2px solid $brand-primary;
		font-size: 36px;
		// padding-bottom: 3px;
		font-weight: 700;
		text-align: center;
		&.over100 {
			font-size: 24px;
		}
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			/* display: none; <- Crashes Chrome on hover */
			-webkit-appearance: none;
			margin: 0;
			/* <-- Apparently some margin are still there even though it's hidden */
		}
		&:hover {
			border-color: darken($brand-primary, 10);
		}
	}
}
.stepperLabel {
	text-align: center;
	font-size: 12px;
	top: -20px;
	position: relative;
}
.main.cart {
	.stepper {
		justify-content: flex-start;
		@media screen and (max-width: $screen-xs-max) {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		#stepperMinus, #stepperPlus {
			background: $gray-lighter;
			color: $gray;
			&:hover {
				background: darken($gray, 10);
			}
		}
		#sliderInput {
			width: $sliderButtSize;
			height: $sliderButtSize;
			border: 1px solid $gray;
			font-size: 20px;
			&:hover {
				border-color: darken($gray, 10);
			}
		}
		.stepperLabel {
			position: static;
			padding-left: 10px;
			font-size: 14px;
		}
	}
}

.sliderRow {
	@media screen and (max-width: $screen-xs-max) {
		display: flex;
		flex-direction: column-reverse;
		// flex-direction: row;
		align-items: center;
		#slider {
			margin-top: 20px;
		}
	}
}
