.stripe {
	text-align: center;
	padding-bottom: $stripes-padding;
	h2 {
		margin-top: 80px;
		margin-bottom: 60px;
	}
	a.btn {
		margin-top: 30px;
	}
	a.btn,
	button {
		&:hover {
			background: $brand-success;
			color: white;
		}
	}
}
.stripe-inverse {
	color: white;
	background: $brand-success;
	a {
		color: white;
		&.btn {
			border-color: white;
			&:hover {
				background: white;
				color: $brand-success;
			}
		}
	}
	b,
	strong {
		color: white;
	}
}
.stripe-benefits {
	@extend .stripe;
	.icon {
		width: 90px;
		height: 90px;
		background: $brand-success;
		border-radius: 50%;
		display: inline-block;
		i {
			color: white;
			font-size: 60px;
		}
	}
	@media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
		.row > div:nth-child(4) {
			clear: both;
		}
	}
	@media screen and (max-width: $screen-xs-max) {
		.row > div:nth-child(3),
		.row > div:nth-child(5) {
			clear: both;
		}
	}
}
.badge-100 {
	letter-spacing: 200;
	text-transform: uppercase;
	background: url('../img/bg-badge-100.png') center bottom no-repeat;
	// background-size: 30%;
	padding-top: 20px;
	padding-bottom: 12px;
	margin-bottom: 40px;
	line-height: 30px;
	span {
		font-size: 40px;
		letter-spacing: 0;
		font-weight: 700;
		display: block;
	}
}
.stripe-guarantee {
	@extend .stripe;
	@extend .stripe-inverse;
	background: url('../img/bg-stripe-guarantee.jpg') center center / cover no-repeat;
	h2 {
		margin-bottom: 30px;
	}
	.star-divider {
		margin: 15px 0;
		span:nth-child(1),
		span:nth-child(5) {
			opacity: 0.3;
		}
		span:nth-child(2),
		span:nth-child(4) {
			opacity: 0.7;
		}
	}
}
@keyframes pulse {
	0% {
		// box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		opacity: 0.4;
	}
	70% {
		// box-shadow: 0 0 0 20px rgba(204,169,44, 0);
		opacity: 1.0;
	}
	100% {
		// box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		opacity: 0.0;
	}
}
.stripe-bag {
	h2 {
		margin-top: 40px;
		margin-bottom: 20px;
	}
	@extend .stripe;
	img.vacs-stripe {
		max-width: 520px;
		width: 100%;
		margin-bottom: 20px;
		display: inline-block;
	}
	.bag-wrapper {
		position: relative;
		background: url('../img/vacs-bag.jpg') center center no-repeat;
		background-size: contain;
		background-position: center 70%;
		padding: 50px 4em 30px;
		// overflow: hidden;
		@media (max-width: $screen-sm-max) {
			padding-left: 0;
			padding-right: 0;
			// margin-top: -50px;
		}
		.circle {
			width: 30em;
			height: 30em;
			padding: 2.8em;
			/*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
			border: 1px solid $brand-success;
			border-radius: 50%;
			margin: 0 auto;
			@media (max-width: $screen-xs-max) {
				border-radius: 0;
				border: none;
				width: 100%;
				height: auto;
			}
			.pois {
				overflow: hidden;
			}
			a.poi {
				display: block;
				width: 6em;
				height: 6em;
				border-radius: 50%;
				background: white;
				border: 1px solid $gray-light;
				// box-shadow: 0 0 0 rgba(204,169,44, 0.4);
				// box-shadow: 0 0 0 20px rgba(0,0,0,0.4);
				cursor: pointer;
				&::after {
					border: 10px solid red;
				}
				&.active,
				&:hover {
					animation: none;
					background: $brand-success;
					border: none;
					box-shadow: 0 0 0 10px $brand-success;
					i {
						color: white;
					}
				}
				i {
					color: $brand-success;
					font-size: 70px;
					line-height: 80px;
					&::before {
						margin: 0;
					}
					&.icon-pic-clock {
						font-size: 60px;
					}
				}
				@media (min-width: $screen-sm-min) {
					display: block;
					margin: -3em;
					overflow: hidden;
					position: absolute;
					top: 50%;
					left: 50%;
					&.one {
						transform: rotate(300deg) translate(15em) rotate(-300deg);
					}
					&.two {
						transform: translate(15em);
					}
					/* 15em = half the width of the wrapper */
					&.three {
						transform: rotate(60deg) translate(15em) rotate(-60deg);
					}
					&.four {
						transform: rotate(120deg) translate(15em) rotate(-120deg);
					}
					&.five {
						transform: translate(-15em);
					}
					&.six {
						transform: rotate(240deg) translate(15em) rotate(-240deg);
					}
				}
			}
		}
		@media (max-width: $screen-xs-max) {
			background-position: center -10%;
			padding-top: 0;
			padding-bottom: 0;
			max-height: 400px;
			.circle {
				padding: 200px 0 0;
				a.poi {
					display: inline-block;
					width: 4.5em;
					height: 4.5em;
					margin: 10px;
					i {
						font-size: 50px;
						line-height: 60px;
						&.icon-pic-clock {
							font-size: 45px;
						}
					}
				}
			}
		}
	}
	#accordion {
		text-align: left;
		margin-top: 40px;
		.panel-default:last-child {
			border-bottom: 1px solid $gray-lighter;
		}
		h5.panel-title {
			padding-top: 10px;
			border-top: 1px solid $gray-lighter;
			a {
				display: block;
			}
		}
	}
}
.stripe-contact {
	@extend .stripe;
	@extend .stripe-inverse;
	background: url('../img/bg-stripe-contact.jpg') center center / cover no-repeat;
	p {
		font-size: 18px;
	}
}
.stripe-additional {
	@extend .stripe;
	background: $gray-lighter;
	p {
		// font-size: 18px;
	}
	.pic {
		// width: 100%;
		// display: inline-block;
		display: block;
		min-height: 210px;
		img {
			border-radius: 50%;
			border: 3px solid $brand-success;
			width: 200px;
			z-index: 5;
			position: relative;
			// display: inline-block;
			vertical-align: top;

			&::after {
			}
		}
		.text {
			display: inline-block;
			text-align: left;
			background: $brand-success;
			padding: 20px 30px;
			position: relative;
			left: -20px;
			top: 20px;
			max-width: 540px;
			h4 {
				display: inline-block;
				color: white !important;
				text-transform: uppercase;
				color: white;
				font-weight: 700;
				font-size: 18px;
			}
			p {
				color: white;
			}
			a {
				color: white;
				text-decoration: underline;
			}

		}
		&.pic-02 {
			// margin-left: -300px;
			.text {
				left: 20px;
			}
			img.xs-show {
				display: none;
			}
		}
		&.pic-03 {
			// margin-left: 100px;
		}

		&.pic-02, &.pic-03 {
			img {
				width: 130px;
			}
			span {
			}
		}

		&:hover {
			img {
				border-color: #006e8e;;
			}
			.text {
				background-color: #006e8e;;
			}
		}
	}
	@media screen and (max-width: $screen-xs-max) {
		.pic {
			margin-top: 10px;
			margin-left: 0 !important;
			img.xs-hide {
				display: none;
			}
			img.xs-show {
				display: inline-block !important;
			}
			.text {
				text-align: center;
				max-width: 100%;
				left: 0 !important;
				right: 0;
				top: -10px;
				display: block;
			}
		}
	}

}
.stripe-order {
	@extend .stripe;
	h2 {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	@media (min-width: $screen-sm-min) {
		.form-inline {
			.btn,
			.input-group {
				margin-right: 20px;
				min-width: 230px;
			}
			// text-align: left;
		}
	}
}
