.special {
	font-family: $font-family-special;
}
h1.special {
	font-size: 54px;
	color: $black;
	margin-bottom: 0;
	@media (max-width: $screen-sm-max) {
		font-size: 40px;
	}
	@media (max-width: $screen-xs-max) {
		font-size: 30px;
	}
}
.h1,
h1 {
	margin: 30px 0 20px;
	font-weight: 700;
}
.h2,
h2 {
	margin: 20px 0 15px;
	font-weight: 700;
}
h3 {}
h5 {
	text-transform: uppercase;
}
h3,
h4 {
	// color: $brand-secondary !important;
	// margin: 0;
	// text-transform: uppercase;
	font-weight: 700;
}
h4 {
	@media screen and (max-width: $screen-xs-max) {
		margin-top: 20px;
	}
}
h4.hand {
	font-family: 'hand_of_seanregular';
	color: $brand-secondary;
	text-transform: none;
	// transform: rotate(-5deg);
	opacity: 0.4;
	font-size: 14px;
}
h6 {
	font-weight: 500;
	font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
	color: $black;
}

.main.text {
	h3, h4, h5 {
		text-transform: none;
		color: $text-color !important;
	}
	a {
		h3, h4, h5 {
			color: $brand-secondary !important;
		}
	}
}

p {
	b,
	strong {
		color: $gray-dark;
	}
	&.note {
		text-align: center;
		// color: $gray-light;
		margin-top: 15px;
		font-size: 12px;
	}
}
strong {
	&.info {
		text-transform: uppercase;
		font-size: 86%; // 12px
		color: $gray-dark;
	}
}
.text-primary {
	color: $brand-secondary;
}
