.stripe-covid,
.stripe-covid--pink {
    // @extend .stripe;
    // background: $brand-primary;
    // border: 16px solid $brand-primary;
    
    .container {
        border-bottom: 0;
        // padding: 64px 0;
    }
    
    &:before,
    &:after {
      content: '';
      // position: absolute;
      display: block;
      height: 24px;
      width: calc(100%+30px);
      margin-left: -15px;
      margin-right: -15px;
      background: yellow;
      background: repeating-linear-gradient(
        -45deg,
        black,
        black 24px,
        yellow 24px,
        yellow 47px
        // $brand-primary,
        // $brand-primary 24px,
        // transparent 24px,
        // transparent 47px
      );
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-bottom: 0;
    }
    
    &:before {
      top: 0;
    }
    
    &:after {
      bottom: 0;
    }
}
.stripe-covid--pink {
    &:before,
    &:after {
      background: transparent;
      background: repeating-linear-gradient(
        -45deg,
        $brand-primary,
        $brand-primary 24px,
        transparent 24px,
        transparent 47px
      );
    }
}

.stripe-covid--small,
.stripe-covid--small--pink {
    margin-top: 10px;
    .container {
        padding-top: 12px;
        padding-bottom: 0;
    }
    &:before,
    &:after {
      content: '';
      // position: absolute;
      display: block;
      height: 12px;
      width: calc(100%+30px);
      margin-left: -15px;
      margin-right: -15px;
      background: yellow;
      background: repeating-linear-gradient(
        -45deg,
        black,
        black 12px,
        yellow 11px,
        yellow 23px
      );
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-bottom: 0;
    }
    
    &:before {
      top: 0;
    }
    
    &:after {
      bottom: 0;
    }
}

.stripe-covid--small--pink {
    &:before,
    &:after {
      background: transparent;
      background: repeating-linear-gradient(
        -45deg,
        $brand-primary,
        $brand-primary 12px,
        transparent 11px,
        transparent 23px
      );
    }
}