doctype html
html(lang='en')
	- var title= "Časté dotazy"
	include ./includes/head.jade
	body
		.main.text.howto
			include ./includes/nav.jade
			.container
				ul.breadcrumb
					li
						a(href='/index.html') Domů
					li.active Časté dotazy
				.row
					.col-xs-12
						h1 Časté dotazy
				.row
					.col-sm-12
						#accordion.panel-group(role='tablist', aria-multiselectable='true')
							.panel.panel-default
								#headingOne.panel-heading(role='tab')
									h4.panel-title
										a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
											| Collapsible Group Item #1
								#collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
									.panel-body
										| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
							.panel.panel-default
								#headingTwo.panel-heading(role='tab')
									h4.panel-title
										a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
											| Collapsible Group Item #2
								#collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
									.panel-body
										| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
							.panel.panel-default
								#headingThree.panel-heading(role='tab')
									h4.panel-title
										a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
											| Collapsible Group Item #3
								#collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
									.panel-body
										| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
			include ./includes/stripe-guarantee.jade
			include ./includes/footer.jade
	include ./includes/scripts.jade
