doctype html
html(lang='en')
	- var title= "Doplňkové produkty"
	include ./includes/head.jade
	body
		.main
			include ./includes/nav.jade
			.container
				h1 Doplňkové produkty
			.container
				.goods
					img.goods__image(src='img/porzsakok-add-03.jpg', alt='HEPA filtry')
					.goods__side
						h3 HEPA filtry
						p "High Efficiency Particulate Arrestance" - tato čtyři slova jsou důležitá nejenom pro děti a alergiky. HEPA filtry Vám zajistí, že Vaše vysávání bude z hlediska čistoty opravdu účinné.
						ul.list-models--columns
							li
								a(href='/hepa-filtry/hepa-filtr-do-vysavacu-aeg/hepa-filtr-do-vysavacu-aeg-hf0001')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0001.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; AEG (HF0001)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtr-do-vysavacu-electrolux/hepa-filtr-do-vysavacu-electrolux-hf0002')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0002.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Electrolux (HF0002)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtry-do-vysavacu-philips/hepa-filtr-do-vysavacu-philips-hf0003')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0003.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Philips (HF0003)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtry-do-vysavacu-philips/hepa-filtr-do-vysavacu-philips-hf0017')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0017.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Philips (HF0017)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtr-do-vysavacu-tornado/hepa-filtr-do-vysavacu-tornado-hf0004')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0004.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Tornado (HF0004)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtr-do-vysavacu-volta/hepa-filtr-do-vysavacu-volta-hf0005')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0005.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Volta (HF0005)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtr-do-vysavacu-zanussi/hepa-filtr-do-vysavacu-zanussi-hf0006')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0006.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Zanussi (HF0006)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtry-do-vysavacu-miele/hepa-filtr-do-vysavacu-miele-hf0007')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0007.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Miele (HF0007)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtry-do-vysavacu-miele/hepa-filtr-do-vysavacu-miele-hf0018')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0018.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Miele (HF0018)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtr-do-vysavacu-nilfisk/hepa-filtr-do-vysavacu-nilfisk-hf0008')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0008.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Nilfisk (HF0008)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtry-do-vysavacu-bosch/hepa-filtr-do-vysavacu-bosch-hf0009')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0009.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Bosch (HF0009)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtry-do-vysavacu-bosch/hepa-filtr-do-vysavacu-bosch-hf0015')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0015.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Bosch (HF0015)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtry-do-vysavacu-bosch/hepa-filtr-do-vysavacu-bosch-hf0021')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0021.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Bosch (HF0021)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtry-do-vysavacu-siemens/hepa-filtr-do-vysavacu-siemens-hf0010')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0010.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Siemens (HF0010)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtry-do-vysavacu-siemens/hepa-filtr-do-vysavacu-siemens-hf0016')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0016.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Siemens (HF0016)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtry-do-vysavacu-siemens/hepa-filtr-do-vysavacu-siemens-hf0022')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0022.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Siemens (HF0022)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtr-do-vysavacu-ufesa/hepa-filtr-do-vysavacu-ufesa-hf0011')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0011.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Ufesa (HF0011)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtr-do-vysavacu-karcher/hepa-filtr-do-vysavacu-karcher-hf0012')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0012.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; K&auml;rcher (HF0012)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtr-do-vysavacu-profilo/hepa-filtr-do-vysavacu-profilo-hf0013')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0013.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Profilo (HF0013)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtr-do-vysavacu-privileg/hepa-filtr-do-vysavacu-privileg-hf0014')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0014.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Privileg (HF0014)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/uhlikovy-filtr-do-vysavacu-philips/uhlikovy-filtr-do-vysavacu-philips-hf0019')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0019.jpg')
									strong Uhl&iacute;kov&yacute; filtr do vysava&ccaron;&uring; Philips (HF0019)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtr-do-vysavacu-zelmer/hepa-filtr-do-vysavacu-zelmer-hf0020')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0020.jpg')
									strong Hepa filtr do vysava&ccaron;&uring; Zelmer (HF0020)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/hepa-filtry/hepa-filtry-do-vysavacu-rowenta/hepa-filtr-do-vysavacu-rowenta-hf0023')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/HF0023a.JPG')
									strong Hepa filtr do vysava&ccaron;&uring; Rowenta (HF0023)
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
				.goods
					img.goods__image(src='img/porzsakok-add-04.jpg', alt='Motorové filtry')
					.goods__side
						h3 Motorové filtry
						p "High Efficiency Particulate Arrestance" - tato čtyři slova jsou důležitá nejenom pro děti a alergiky. HEPA filtry Vám zajistí, že Vaše vysávání bude z hlediska čistoty opravdu účinné.
						ul.list-models--columns
							li
								a(href='/motorove-filtry/motorovy-filtr-mf0105/baleni-motorovych-filtru-mf0105')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/MF0105.jpg')
									strong Motorov&yacute; filtr MF0105
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/motorove-filtry/motorovy-filtr-mf0205/baleni-motorovych-filtru-mf0205')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/MF0205.jpg')
									strong Motorov&yacute; filtr MF0205
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/motorove-filtry/kuzelovy-filtr-eta-mf0303/kuzelovy-filtr-eta')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/MF0303.jpg')
									strong Ku&zcaron;elov&yacute; filtr ETA
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
				.goods
					img.goods__image(src='img/porzsakok-add-01.jpg', alt='Podlahové kartáče')
					.goods__side
						h3 Podlahové hubice a kartáče
						p Tito šikovní pomocníci Vám pomůžou s důkladným úklidem. Postarají se o koberce ale i hladké plochy, které vyčistí od prachu až po chlupy z domácích mazlíčků.
						ul.list-models--columns
							li
								a(href='/podlahove-hubice-a-kartace/turbokartac-univerzalni/turbokartac-univerzalni')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/BR0001.jpg')
									strong Turbokart&aacute;&ccaron; univerz&aacute;ln&iacute;
									.item__info
										span SKLADEM 
										| Expedujeme do 24 h
							li
								a(href='/podlahove-hubice-a-kartace/podlahovy-kartac-na-tvrde-podlahy/podlahovy-kartac-na-tvrde-podlahy')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/BR0002.jpg')
									strong Podlahov&yacute; kart&aacute;&ccaron; na tvrd&eacute; podlahy
									.item__info
										span SKLADEM 
										| Expedujeme do 24 h
							li
								a(href='/podlahove-hubice-a-kartace/podlahova-hubice-na-kocici-a-psi-chlupy/podlahova-hubice-na-kocici-a-psi-chlupy')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/BR0003.jpg')
									strong Podlahov&aacute; hubice na ko&ccaron;i&ccaron;&iacute; a ps&iacute; chlupy
									.item__info
										span SKLADEM 
										| Expedujeme do 24 h
				.goods
					img.goods__image(src='img/porzsakok-add-02.jpg', alt='Vůně do vysavače')
					.goods__side
						h3 Vůně do vysavače
						p …a nyní Vám položíme kvízovou otázku. "Při vysávání provoní Váš byt. Co je to?" Není to maminčin parfém, je to vůně do vysávače.
						ul.list-models--columns
							li
								a(href='/vune-do-vysavace/vune-do-vysavace-citronova/baleni-vuni-do-vysavace-citronova')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/SC0001.jpg')
									strong Balen&iacute; v&uring;n&iacute; do vysava&ccaron;e - citr&oacute;nov&aacute;
									.item__info
										span SKLADEM 
										| Expedujeme do 24 h
							li
								a(href='/vune-do-vysavace/vune-do-vysavace-kvetinova/baleni-vuni-do-vysavace-kvetinova')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/SC0002.jpg')
									strong Balen&iacute; v&uring;n&iacute; do vysava&ccaron;e - kv&ecaron;tinov&aacute;
									.item__info
										span SKLADEM
										| Expedujeme do 24 h
							li
								a(href='/vune-do-vysavace/vune-do-vysavace-svezi/baleni-vuni-do-vysavace-svezi')
									img(alt='Fotka sáčku', src='https://www.chci-vysavat.cz/images/assets/pack/myThumb/SC0003.jpg')
									strong Balen&iacute; v&uring;n&iacute; do vysava&ccaron;e - sv&ecaron;&zcaron;&iacute;
									.item__info
										span SKLADEM 
										| Expedujeme do 24 h
			include ./includes/stripe-guarantee.jade
			include ./includes/footer.jade
		include ./includes/scripts.jade