doctype html
html(lang='en')
	- var title= "Jak nakoupit"
	include ./includes/head.jade
	body.text.howto
		.main
			include ./includes/nav.jade
			.container
				ul.breadcrumb
					li
						a(href='/index.html') Domů
					li.active Ako nakúpiť
				.row
					.col-xs-12
						h1
							//- i.glyphicon.glyphicon-question-sign
							|  Jak nakoupit
				.row
					.col-sm-6.col-xs-12
						.panel.panel-default
							.panel-body.label11
								h4
									a(href='/pruvodce-nakupem.html') 
										span.glyphicon.glyphicon-book
										| Stručný sprievodca nákupom
								h4
									a(href='/obchodni-podminky.html')
										span.glyphicon.glyphicon-pencil
										| Obchodné a reklamačné podmienky
								h4
									a(href='/objednavka')
										span.glyphicon.glyphicon-gift
										| Stav vybavenia Vašej objednávky
					.col-sm-6.col-xs-12
						.panel.panel-default
							.panel-body.label11
								h4
									a(href='moznosti-platby.html')
										span.glyphicon.glyphicon-credit-card
										| Ako môžete zaplatiť
								h4
									a(href='doprava.html')
										span.glyphicon.glyphicon-road
										| Ako Vám objednávku dopravíme
								h4
									a(href='reklamace.html')
										span.glyphicon.glyphicon-list-alt
										| Ako reklamovať tovar
				.row
					.col-sm-12
						.panel.panel-default
							.panel-body.label11
								h4.text-center
									a(href='specialni-sluzby.html')
										span.glyphicon.glyphicon-fire
										strong Taká možnosť tu ešte nebola – bezkonkurenčná ponuka e-shopu!

	include ./includes/stripe-guarantee.jade
	include ./includes/footer.jade
	include ./includes/scripts.jade
