doctype html
html(lang='en')
	- var title= "Poradna"
	include ./includes/head.jade
	body
		.main
			include ./includes/nav.jade
			.container
				ul.breadcrumb
					li
						a(href='/') Domů
					li.active(aria-current='page') Poradna
				.row
					.col-xs-12
						h1 Poradna
				.row
					.col-xs-12
						.card
							a.card__image(href='poradna-detail')
								img(alt='Fotka článku Jak vyměnit sáček ve vysavači', src='img/poradna-img-01.jpg')
							.card__content
								.card__title
									h4
										a(href='poradna-detail') Jak vyměnit sáček ve vysavači
								.card__meta
									span.card__date 18. 11. 2019
									|  — autor: 
									span.card__author Andrej Kašický
								.card__text
									| Obdrželi jste zásilku sáčků VACS? V několika krocích vám poradíme, jak vyměnit sáčky do vysavače a jak vyměnit filtr ve vysavači. Není to nic těžkého a zvládne to každý. Ať už máte vysavač Eta, Zelmer, Rowenta či jakýkoliv jiný, postup se příliš neliší....
						.card
							a.card__image(href='poradna-detail')
								img(alt='Fotka článku Polarised multimedia internet solution', src='https://picsum.photos/500/250?random=10')
							.card__content
								.card__title
									h4
										a(href='poradna-detail') Polarised multimedia internet solution
								.card__meta
									span.card__date 29.1.2019
									|  — autor: 
									span.card__author Sloan Boddy
								.card__text
									| In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo. Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse...
						.card
							a.card__image(href='poradna-detail')
								img(alt='Fotka článku Monitored well-modulated portal', src='https://picsum.photos/500/250?random=1')
							.card__content
								.card__title
									h4
										a(href='poradna-detail') Monitored well-modulated portal
								.card__meta
									span.card__date 12.7.2019
									|  — autor: 
									span.card__author Nikoletta Digance
								.card__text
									| In sagittis dui vel nisl. Duis ac nibh. Fusce lacus purus, aliquet at, feugiat non, pretium quis, lectus. Suspendisse potenti. In eleifend quam a odio. In hac habitasse platea dictumst.
						.card
							a.card__image(href='poradna-detail')
								img(alt='Fotka článku Visionary asynchronous circuit', src='https://picsum.photos/500/250?random=2')
							.card__content
								.card__title
									h4
										a(href='poradna-detail') Visionary asynchronous circuit
								.card__meta
									span.card__date 20.6.2019
									|  — autor: 
									span.card__author Raimund Mylechreest
								.card__text
									| Praesent id massa id nisl venenatis lacinia. Aenean sit amet justo. Morbi ut odio. Cras mi pede, malesuada in, imperdiet et, commodo vulputate, justo. In blandit ultrices enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
						.card
							a.card__image(href='poradna-detail')
								img(alt='Fotka článku Reverse-engineered asynchronous moratorium', src='https://picsum.photos/500/250?random=3')
							.card__content
								.card__title
									h4
										a(href='poradna-detail') Reverse-engineered asynchronous moratorium
								.card__meta
									span.card__date 25.10.2019
									|  — autor: 
									span.card__author Babita Lethcoe
								.card__text
									| In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus. Nulla ut erat id mauris vulputate elementum. Nullam varius. Nulla facilisi. Cras non velit nec nisi vulputate nonummy. Maecenas tincidunt lacus at velit. Vivamus vel nulla eget...
						.card
							a.card__image(href='poradna-detail')
								img(alt='Fotka článku Synergized 24 hour internet solution', src='https://picsum.photos/500/250?random=4')
							.card__content
								.card__title
									h4
										a(href='poradna-detail') Synergized 24 hour internet solution
								.card__meta
									span.card__date 5.6.2019
									|  — autor: 
									span.card__author Meta MacAllister
								.card__text
									| Maecenas tristique, est et tempus semper, est quam pharetra magna, ac consequat metus sapien ut nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris viverra diam vitae quam. Suspendisse potenti. Nullam...
						.card
							a.card__image(href='poradna-detail')
								img(alt='Fotka článku Synergistic cohesive approach', src='https://picsum.photos/500/250?random=5')
							.card__content
								.card__title
									h4
										a(href='poradna-detail') Synergistic cohesive approach
								.card__meta
									span.card__date 5.6.2019
									|  — autor: 
									span.card__author Rocky Kerbey
								.card__text
									| Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede. Morbi porttitor lorem id ligula. Suspendisse ornare consequat lectus. In est risus, auctor sed, tristique in, tempus sit amet, sem. Fusce consequat. Nulla...
						.card
							a.card__image(href='poradna-detail')
								img(alt='Fotka článku Re-contextualized zero defect time-frame', src='https://picsum.photos/500/250?random=6')
							.card__content
								.card__title
									h4
										a(href='poradna-detail') Re-contextualized zero defect time-frame
								.card__meta
									span.card__date 28.1.2019
									|  — autor: 
									span.card__author Vidovic Zum Felde
								.card__text
									| Praesent id massa id nisl venenatis lacinia. Aenean sit amet justo. Morbi ut odio.
						.card
							a.card__image(href='poradna-detail')
								img(alt='Fotka článku Upgradable 3rd generation data-warehouse', src='https://picsum.photos/500/250?random=7')
							.card__content
								.card__title
									h4
										a(href='poradna-detail') Upgradable 3rd generation data-warehouse
								.card__meta
									span.card__date 24.9.2019
									|  — autor: 
									span.card__author Maurise Kohring
								.card__text
									| Phasellus in felis. Donec semper sapien a libero. Nam dui. Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius. Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.
						.card
							a.card__image(href='poradna-detail')
								img(alt='Fotka článku Profound directional productivity', src='https://picsum.photos/500/250?random=8')
							.card__content
								.card__title
									h4
										a(href='poradna-detail') Profound directional productivity
								.card__meta
									span.card__date 21.10.2019
									|  — autor: 
									span.card__author Menard Tortice
								.card__text
									| Cras non velit nec nisi vulputate nonummy. Maecenas tincidunt lacus at velit. Vivamus vel nulla eget eros elementum pellentesque.
						.card
							a.card__image(href='poradna-detail')
								img(alt='Fotka článku Cross-group holistic superstructure', src='https://picsum.photos/500/250?random=9')
							.card__content
								.card__title
									h4
										a(href='poradna-detail') Cross-group holistic superstructure
								.card__meta
									span.card__date 20.4.2019
									|  — autor: 
									span.card__author Wally Langwade
								.card__text
									| Fusce posuere felis sed lacus. Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem.
				.row
					.col-xs-12.col-md-6.backToSearch
						a(href="").btn.btn-default
							i.icon-plus
							|  Načíst dalších 10 článků
					include ./includes/pagination
			include ./includes/stripe-guarantee.jade
			include ./includes/footer.jade
		include ./includes/scripts.jade	