doctype html
html(lang='en')
	- var title= "Poradna — Detail"
	include ./includes/head.jade
	body
		.main
			include ./includes/nav.jade
			.container
				ul.breadcrumb
					li
						a(href='/') Domů
					li
						a(href='/poradna.html') Poradna
					li.active(aria-current='page') Jak vyměnit sáček ve vysavači
				

				.row
					.col-xs-12
						h1 Jak vyměnit sáček ve vysavači
				.row
					.col-xs-12.col-sm-8
						p.lead
							| Obdrželi jste zásilku sáčků VACS? V několika krocích vám poradíme, jak vyměnit sáčky do vysavače a jak vyměnit filtr ve vysavači. Není to nic těžkého a zvládne to každý. Ať už máte vysavač Eta, Zelmer, Rowenta či jakýkoliv jiný, postup se příliš neliší.
							| Může se měnit v detailech v závislosti na způsobu otevírání krytu apod., ale princip uložení sáčku je vždy stejný.
					.col-xs-12.col-sm-4.d-sm-none.d-md-block
						figure
							img.img-responsive(src='img/poradna-FOTO_0.JPG', alt='Alt text')
							figcaption Sáčky VACS z pětivrstvé netkané textilie
				hr
				.row
					.col-sm-12.col-md-6
						h4 1. Nejprve je třeba vyjmout starý sáček.
						p
							| Opojte hadici a odklopte kryt vysavače. Sáček je umístěn v držáku a je vidět do jeho útrob.
					.col-sm-12.col-md-6
						figure
							img.img-responsive(src='img/poradna-FOTO_1.JPG', alt='Alt text')
							figcaption (Odpojte hadici vysavače a otevřete kryt.)
				hr
				.row
					.col-sm-12.col-md-6
						h4
							| 2. Uchopte starý sáček za jeho úchyt (přírubu), který bývá zhotoven z plastu nebo kartónového výseku.
						p
							| Pokud je pytlík přeplněný, postupujte opatrně, aby se do ovzduší nedostal prach. Jestliže sáček obsahuje hygienický uzávěr, zatáhněte za něj a uzavřete s ním otvor starého sáčku, aby se neprášilo ven. Vyjměte pytlík z vysavače a vyhoďte do
							| odpadkového koše.
					.col-sm-12.col-md-6
						figure
							img.img-responsive(src='img/poradna-FOTO_2.JPG', alt='Alt text')
							figcaption (Opatrně vyjměte starý sáček z vysavače.)
				hr
				.row
					.col-sm-12.col-md-6
						h4
							| 3. Pokud váš vysavač obsahuje výměnný filtr, je potřeba jej čas od času vyměnit.
						p Jak na to? (Tyto kroky můžete provést prakticky kdykoliv i mimo výměnu sáčku.)
					.col-sm-12.col-md-6
						figure
							img.img-responsive(src='img/poradna-FOTO_3.JPG', alt='Alt text')
							figcaption
								| (Filtr vysavače je usazen ve speciální mřížce.) Filtr bývá umístěn za mřížkou na stěně dělicí vnitřní prostor pro sáček a motor vysavače. Pokud je již zanesený, což lze vidět pouhým okem, je vhodné jej vyměnit. Filtry jsou dodávány součástí
								| některých balení sáčků VACS. Pro úpravu tvaru filtru pro konkrétní vysavač budete potřebovat nůžky.
						figure
							img.img-responsive(src='img/poradna-FOTO_4.JPG', alt='Alt text')
							figcaption
								| (Připravte si nůžky.) Vyjměte mřížku, v níž je umístěn filtr.
						figure
							img.img-responsive(src='img/poradna-FOTO_5.JPG', alt='Alt text')
							figcaption
								| (Vyndejte mřížku s filtračním materiálem z vysavače.) Vyndejte z mřížky starý filtr a vyhoďte do odpadkového koše.
						figure
							img.img-responsive(src='img/poradna-FOTO_6.JPG', alt='Alt text')
							figcaption
								| (Odstraňte starý filtr.) Přiložte filtrační materiál k mřížce a vystřihněte potřebný tvar, který bude kopírovat obvod mřížky.
						figure
							img.img-responsive(src='img/poradna-FOTO_7.JPG', alt='Alt text')
							figcaption
								| (Zastřihněte filtr podle tvaru mřížky.) Vložte filtr do mřížky.
						figure
							img.img-responsive(src='img/poradna-FOTO_8.JPG', alt='Alt text')
							figcaption
								| (Zasuňte filtrační materiál do mřížky.) Mřížku s novým filtrem umístěte do vnitřního prostoru vysavače.
						figure
							img.img-responsive(src='img/poradna-FOTO_9.JPG', alt='Alt text')
							figcaption (Vložte filtr do vysavače.)
				hr
				.row
					.col-sm-12.col-md-6
						h4
							| 4. Sáček VACS, který jste obdrželi, je pravděpodobně rozměrově větší, než prostor ve vašem vysavači.
						p
							| Není to na závadu, naopak. Stačí, když jeho okraje přehnete a velikost upravíte tak, abyste mohli sáček pohodlně vložit dovnitř.
					.col-sm-12.col-md-6
						figure
							img.img-responsive(src='img/poradna-FOTO_10.JPG', alt='Alt text')
							figcaption (Přehněte okraje sáčku a upravte velikost podle vnitřního prostoru vysavače.)
				hr
				.row
					.col-sm-12.col-md-6
						h4
							| 5. Umístěte přeložený sáček na příslušné místo ve vysavači, zasuňte jej do držáku.
						p
							| Uzavřete kryt vysavače a nasaďte hadici. Po zapnutí vysavače se pytlík nafoukne a natvaruje podle prostoru a pojme až o 15 % více odpadu než obyčejné papírové náhr ady.
					.col-sm-12.col-md-6
						figure
							img.img-responsive(src='img/poradna-FOTO_11.JPG', alt='Alt text')
							figcaption (Vložte sáček do vysavače.)
			include ./includes/stripe-guarantee.jade
			include ./includes/footer.jade
		include ./includes/scripts.jade	