doctype html
html(lang='en')
	- var title= "Přihlášení"
	include ./includes/head.jade
	body.text
		.main
			include ./includes/nav.jade
			.container
				ul.breadcrumb
					li
						a(href='/') Domov
					li.active Prihlásenie
				.row
					.col-xs-12
						h1
							//- i.glyphicon.glyphicon-log-in
							|  Prihlásenie do osobného účtu
				form#frm-signInForm.form-horizontal(action='/prihlasit', method='post', novalidate='')
					.row.same-height
						.col-xs-12.col-sm-5
							.col-xs-12
								.form-group
									label.control-label(for='form-login-username') Přihlašovací jméno
									input#form-login-username.btn-high.form-control(type='text', placeholder='')
							.col-xs-12
								.form-group
									label.control-label(for='form-login-pass') Heslo
									input#form-login-pass.btn-high.form-control(type='password', placeholder='')
							.col-xs-12
								.form-group
									button.btn.btn-primary.btn-lg.btn-block(type='submit', name='send')
										i.glyphicon.glyphicon-ok
										|  Prihlásiť
						.col-xs-12.col-sm-6.col-sm-offset-1.info-block
							div
								| Nemôžete sa prihlásiť? Možno ste údaje jednoducho zabudli - to sa predsa stáva. 
								br
								br
								a(href='zadost.html')
									strong Nechajte si údaje poslať e-mailom
								strong !
								input(type='hidden', name='do', value='signInForm-submit')
	include ./includes/stripe-guarantee.jade
	include ./includes/footer.jade
	include ./includes/scripts.jade
