doctype html
html(lang='en')
	- var title= "Seznam značek vysavačů"
	include ./includes/head.jade
	body
		include ./includes/nav.jade
		.container
			.row
				a.btn.back(href='index.html')
					span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
					| Zpět na úvodní stranu
		.container
			.row
				.col-xs-12
					h1 Seznam značek vysavačů
					p Vyberte značku vysavače podle počátečního písmene:
		.container
			.row
				.col-xs-12.btn-toolbar
					.btn-group.btn-group-justified.hidden-xs
						a.btn.btn-success.active(href='#A') A
						a.btn.btn-success(href='#B') B
						a.btn.btn-success(href='#C') C
						a.btn.btn-success(href='#D') D
						a.btn.btn-success(href='#E') E
						a.btn.btn-success(href='#F') F
						a.btn.btn-success(href='#G') G
						a.btn.btn-success(href='#H') H
						a.btn.btn-success(href='#I') I
						a.btn.btn-success(href='#J') J
						a.btn.btn-success(href='#K') K
						a.btn.btn-success(href='#L') L
						a.btn.btn-success(href='#M') M
						a.btn.btn-success(href='#N') N
						a.btn.btn-success(href='#O') O
						a.btn.btn-success(href='#P') P
						a.btn.btn-success(href='#Q') Q
						a.btn.btn-success(href='#R') R
						a.btn.btn-success(href='#S') S
						a.btn.btn-success(href='#T') T
						a.btn.btn-success(href='#U') U
						a.btn.btn-success(href='#V') V
						a.btn.btn-success(href='#W') W
						a.btn.btn-success(href='#Z') Z
					.btn-group.visible-xs
						a.btn.btn-success.active(href='#A') A
						a.btn.btn-success(href='#B') B
						a.btn.btn-success(href='#C') C
						a.btn.btn-success(href='#D') D
						a.btn.btn-success(href='#E') E
						a.btn.btn-success(href='#F') F
						a.btn.btn-success(href='#G') G
						a.btn.btn-success(href='#H') H
						a.btn.btn-success(href='#I') I
						a.btn.btn-success(href='#J') J
						a.btn.btn-success(href='#K') K
						a.btn.btn-success(href='#L') L
						a.btn.btn-success(href='#M') M
						a.btn.btn-success(href='#N') N
						a.btn.btn-success(href='#O') O
						a.btn.btn-success(href='#P') P
						a.btn.btn-success(href='#Q') Q
						a.btn.btn-success(href='#R') R
						a.btn.btn-success(href='#S') S
						a.btn.btn-success(href='#T') T
						a.btn.btn-success(href='#U') U
						a.btn.btn-success(href='#V') V
						a.btn.btn-success(href='#W') W
						a.btn.btn-success(href='#Z') Z
			.row
				.col-xs-12
					ul.list-links.list-brands
						li
							a(href='seznam-modelu.html') ACEC
						li
							a(href='seznam-modelu.html') ADIX
						li
							a(href='seznam-modelu.html') AEG
						li
							a(href='seznam-modelu.html') AFK
						li
							a(href='seznam-modelu.html') AIRFLO
						li
							a(href='seznam-modelu.html') AKA
						li
							a(href='seznam-modelu.html') ALASKA
						li
							a(href='seznam-modelu.html') ALDI
						li
							a(href='seznam-modelu.html') ALFATEC
						li
							a(href='seznam-modelu.html') ALPINA
						li
							a(href='seznam-modelu.html') ALTO
						li
							a(href='seznam-modelu.html') AMADIS
						li
							a(href='seznam-modelu.html') AMICA
						li
							a(href='seznam-modelu.html') APOLLO
						li
							a(href='seznam-modelu.html-vac') AQUA VAC
						li
							a(href='seznam-modelu.html') AQUAPUR
						li
							a(href='seznam-modelu.html') ARAMIS
						li
							a(href='seznam-modelu.html') ARIETE
						li
							a(href='seznam-modelu.html') ARLETT
						li
							a(href='seznam-modelu.html') ARNICA
						li
							a(href='seznam-modelu.html') ARTEC
						li
							a(href='seznam-modelu.html') ATLANTA
						li
							a(href='seznam-modelu.html') AVENBERG
		include ./includes/stripe-guarantee.jade
		include ./includes/footer.jade
		include ./includes/scripts.jade
