
.icon-bags:before { content: '\e800'; } /* '' */
.icon-checked:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e803'; } /* '' */
.icon-gift:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-pic-clock:before { content: '\e806'; } /* '' */
.icon-pic-closing:before { content: '\e807'; } /* '' */
.icon-pic-filter:before { content: '\e808'; } /* '' */
.icon-pic-join:before { content: '\e809'; } /* '' */
.icon-pic-magnify:before { content: '\e80a'; } /* '' */
.icon-pic-space:before { content: '\e80b'; } /* '' */
.icon-piggy:before { content: '\e80c'; } /* '' */
.icon-transport:before { content: '\e80d'; } /* '' */
.icon-bomb:before { content: '\e80e'; } /* '' */